{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form method="post" class="contact-form" action="" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <div class="contact-form__column">
      <div class="contact-form__column-item">
          <input type="hidden" name="action" value="contactForm/sendMessage">
          <input type="hidden" name="redirect" value="{{ siteUrl }}/success/">
          <label for="fromName">First Name</label>
          <input id="fromName" type="text" name="message[First Name]" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
          <!--{{ message is defined and message ? errorList(message.getErrors('fromName')) }}-->
      </div>
      <div class="contact-form__column-item">
          <label for="fromLastName">Last Name</label>
          <input id="fromLastName" type="text" name="message[Last Name]" value="{% if message is defined %}{{ message.fromLastName }}{% endif %}">
          <!--{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}-->
      </div>
    </div>

    <div class="contact-form__column">
      <div class="contact-form__column-item">
        <label for="email">Email Address</label>
        <input id="email" type="text" name="message[Email Address]" value="{% if message is defined %}{{ message.fromEmailAddress }}{% endif %}">
        <!--{{ message is defined and message ? errorList(message.getErrors('subject')) }}-->
      </div>
      <div class="contact-form__column-item">
        <label for="subject">Message Subject</label>
        <select id="subject" name="message[Subject]" value="{% if message is defined %}{{ message.subject }}{% endif %}">
            <option selected disabled>--Choose One--</option>
            <option value="Sign Up">Sign Up</option>
            <option value="Question">Question</option>
            <option value="Comment">Comment</option>
            <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <label for="message">Your Message</label>
    <textarea rows="5" cols="40" id="message" name="message[Body]">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
    <!--{{ message is defined and message ? errorList(message.getErrors('message')) }}-->
    <input id="justforfun" name="justForFun" type="text">
  <input type="submit" value="Send">
</form>
