<footer role="contentinfo">
	<section class="footer-section footer-section-navigation">
		<h4 class="footer-section-name">Reading Buzz</h4>
			<nav>
				<ul class="footer-section-list">
					<li class="footer-section-list-item"><a href="about.php">Menu Item</a></li>
					<li class="footer-section-list-item"><a href="plans.php">Menu Item</a></li>
					<li class="footer-section-list-item"><a href="blogindex.php">Menu Item</a></li>
					<li class="footer-section-list-item"><a href="signup.php">Menu Item</a></li>
				</ul>
			</nav>
	</section>
	<section class="footer-section footer-section-contact">
		<h4 class="footer-section-name">Contact Us</h4>
			<ul class="footer-section-list">
				<li class="footer-section-list-item">{{ footer.contactName }}</li>
				<li class="footer-section-list-item"><a href="mailto:{{ footer.contactEmail }}">{{ footer.contactEmail }}</li></a>
			</ul>
	</section>
	<section class="footer-section footer-section-social">
		<ul class="social-list">
			{% for block in footer.socialMediaMatrix %}
					{% if block.type == "social" %}
						<li class="social-list-item">
								<a href="{{ block.socialLink }}">
									<span class="social-list-item-name">{{ block.socialName }}</span>
									{% set image = block.socialIcon.first() %}
									{% if image %}
											<img class="social-list-item-icon" alt="{{ block.socialName }}" src="{{ image.getUrl('') }}">
									{% endif %}
								</a>
						</li>
					{% endif %}
			{% endfor %}
		</ul>
	</section>
	<section class="footer-section footer-copyright">
		<p>Create field for copyright<br/>
		and created by <a href="#">IdeaBase</a></p>
	</section>
</footer>

<!-- Include Style Sheet -->
<link href="{{ siteUrl }}/css/styles.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ siteUrl }}/js/min/custom-scripts-min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52690730-6', 'auto');
  ga('send', 'pageview');

</script>
