{% cache globally %}
<header role="banner">
	<a id="skip-to-content" href="#content">skip to main content</a>
	<a href="{{ siteUrl }}">
	{% set Logo = header.logo %}
		{% for asset in Logo %}
			<img src="{{ asset.url }}" />
		{% endfor %}
	</a>

    <a href="#menu" class="menu-link">Menu</a>
	<nav id="menu" role="navigation">
		<ul>
			{% nav node in craft.menus.getNodes('mainMenu') %}
				<li role="presentation"  class="
				        {{ node.children|length ? 'dropdown' }}
				        {{ node.active ? 'active' }}">
				    <a href="{{siteUrl}}/{{node.link}}"
				          {% if node.children|length %}
				            class="dropdown-toggle" data-toggle="dropdown"
				          {% endif %}>
				          {{ node.title }}
				    </a>
				    {% ifchildren %}
				          <ul class="dropdown-menu" role="menu">
				            {% children %}
				          </ul>
				        {% endifchildren %}
				</li>
			{% endnav %}
		 </ul>
		 {% for entry in header.alreadyAMemberPage %}
		 	<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
		 {% endfor %}

		 <a href="#" class="link-supplemental">{{ header.alreadyAMember }}</a>

	</nav>
{% endcache %}
</header>