{% set nav = craft.amNav.getNavRaw("mainMenu") %}

{% macro addNodeToNavigation(node, index) %}
    {%- set nodeClasses = [] -%}
    {%- if node.hasChildren -%}
        {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
    {%- endif -%}
    {%- if node.active or node.hasActiveChild -%}
        {%- set nodeClasses = nodeClasses|merge(['active']) -%}
    {%- endif -%}
    {%- if node.level == 1 and index == 1 -%}
        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
    {%- endif -%}
    {%- if node.listClass|length -%}
        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
    {%- endif -%}

    <li {% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
        <a href="{{ node.url }}" {% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
        {% if node.hasChildren %}
            <ul class="nav__level{{ (node.level + 1) }}">
                {% for subnode in node.children %}
                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% cache globally %}
<header role="banner">
	<div class="header-inner">
		<a id="skip-to-content" href="#content">skip to main content</a>
		<a class="logo" href="{{ siteUrl }}">
			{% if header.logo|length %}
			{% set asset = header.logo.first() %}
			    <img src="{{ asset.url }}" alt="{{ asset.title }}" />
					<!-- Need to add alt text for logo -->
			{% endif %}
		</a>
    <a id="menu-button" href="#menu" aria-label="Menu" aria-expanded="false" aria-controls="menu" class="menu-link">Menu</a>
	</div>
	<nav id="menu" aria-labelledby="menu-button" role="navigation">
			<ul>
			{% endcache %}
			{% for node in nav %}
					{{ _self.addNodeToNavigation(node, loop.index) }}
			{% endfor %}
			{% cache globally %}
			</ul>
		 {% for entry in header.alreadyAMemberPage %}
		 	<a class="link-supplemental" href="{{ entry.url }}#member">{{ header.alreadyAMember }}</a></h1>
		 {% endfor %}
	</nav>
</header>
{% endcache %}
