{% block content %}
{% set catName  = craft.categories.group('gradeLevel').first.group %}
{{ catName}}
	<ul>
	    {% nav category in craft.categories.group('gradeLevel') %}
	        <li>
	            <a href="{{ category.url }}">{{ category.title }}</a>
	            {% ifchildren %}
	                <ul>
	                    {% children %}
	                </ul>
	            {% endifchildren %}
	        </li>
	    {% endnav %}
	</ul>
{% set catName2  = craft.categories.group('theme').first.group %}
{{ catName2 }}
	<ul>
	    {% nav category in craft.categories.group('theme') %}
	        <li>
	            <a href="{{ category.url }}">{{ category.title }}</a>
	            {% ifchildren %}
	                <ul>
	                    {% children %}
	                </ul>
	            {% endifchildren %}
	        </li>
	    {% endnav %}
	</ul>
{% if entry.section.handle == 'video' %}
{% set catName3  = craft.categories.group('videoType').first.group %}
{{ catName3}}
	<ul>
	    {% nav category in craft.categories.group('videoType') %}

	        <li>
	            <a href="{{ category.url }}">{{ category.title }}</a>
	            {% ifchildren %}
	                <ul>
	                    {% children %}
	                </ul>
	            {% endifchildren %}
	        </li>
	    {% endnav %}
	</ul>
{% endif %}

{% set allEntries = craft.entries.section('blog').find() %}
{% set allEntriesByYear = allEntries < 'postDate.year' %}

{% for allEntries in allEntriesByYear %}
    <h2>{{ year }}</h2>

    <ul>
        {% for entry in entriesInYear %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}	
{% endblock %}