.contact-form {
  margin: 2em auto 4em auto;
  width: 80%;
  @media #{$medium-ish} {
    width: 70%;
  }
  @media #{$large} {
    width: 60%;
  }
}

.contact-form__column {
  @media #{$medium-ish} {
    -js-display: flex; // JavaScript Fallback for IE9 //
    display: flex;
    justify-content: space-between;
  }
}

.contact-form__column-item {
  @media #{$medium-ish} {
    width: 48%;
  }
}

.contact-form label {
  display: block;
  font-size: 1.1em;
  margin-bottom: .5em;
}

.contact-form input, textarea {
  width: 100%;
  padding: .5em;
  min-height: 3em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
  @extend .button;
  @extend .button--red;
  max-width: 10em;
}

// Honeypot Field - Yum! //

#justforfun {
  display: none;
}

// Signup Confirmation

.section-success {
  width: 440px;
  margin: 3em auto;
  background-color: $blue;
  border: solid 4px $darkblue;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 3em 6em;
}

.section-success__heading {
  color: white;
  font-size: 1.8em;
  font-weight: normal;
  margin: .55em 0;
}

.section-success__button {
  background-color: white;
  color: $darkblue;
  display: inline-block;
  border-color: white;
  margin-top: 1.5em;
}







