header {
	@media #{$medium} {
		-js-display: flex;
		display: flex;
	}
}

.menu-link {
		margin-left: auto;
		padding: .5em 1.75em;
		background-color: $blue;
    border: 3px solid $darkblue;
    color: white;
		font-size: 1.15em;
    font-weight: 700;
    text-decoration: none;
		margin-top: 2em;
    @media #{$medium} {
	    display: none;
	}
}

.logo {
  padding-right: 2em;
	img {
		max-width: 150px;
		margin-left: -5px;
	}
  @media #{$small} {
		img {
			max-width: 175px;
		}
  }
  @media #{$small-ish} {
    margin-right: 5em;
		img {
			max-width: 200px;
		}
  }
}

.header-inner {
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav {
	clear: both;
	transition: all 0.3s ease-out;
	overflow: hidden;
	width: 100%;
	align-items: center;
	position: relative;
	@media #{$medium} {
		-js-display: flex;
		display: flex;
		margin-top: .5em;
		padding-top: 1.5em;
	}
	@media #{$medium-ish} {
		margin-left: 2em;
	}
	@media #{$large} {
		margin-left: 0;
	}
}

.js header nav {
	overflow: hidden;
	max-height: 0;
	@media #{$medium} {
		max-height: inherit;
	}
}

.js header nav.active {
	max-height: 17em;
}

header nav ul {
	margin: 1em 0 0 0;
	padding: 0;
	border-top: 1px solid $gray;
	list-style-type: none;
	width: 100%;
	@media #{$medium} {
		margin: 0 0 0 -0.25em;
		border: 0;
		transition:none;
		max-width: 60%;
	}
}

header nav li a {
	display: block;
	padding: .9em;
	border-bottom: 1px solid $gray;
	color: $darkgray;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	text-align: center;
	text-decoration: none;
	@media #{$medium} {
		border: none;
		padding: .5em .9em;
	}
	@media #{$large} {
		font-size: 1.2em;
		transition: .2s all ease-in-out;
	}
	&:hover, &:focus {
		color: $blue;
	}
}

header nav li:nth-last-child(2) a {
	border-bottom: none;
}

header nav li:last-child a {
  @extend .button;
  @extend .button--red;
  @media #{$medium} {
  	right: 0;
  	top: 25px;
  	position: absolute;
		padding: .8em 2em;
  }
	margin-bottom: 0;
	&:hover {
		color: white;
	}
}

header nav li {
	@media #{$medium} {
		display: inline-block;
		margin: 0 0.25em;
		padding: 0 .75em 0 0;
		border-right: 1px solid #A3A3A3;
		&:nth-last-child(2) {
			border: none;
		}
	}
	@media #{$large} {
		margin: 0 .5em;
	}
}
