header {
	@include clearfix;
}

.menu-link {
		margin-left: auto;
		padding: .5em 1.75em;
		background-color: $blue;
    border: 3px solid $darkblue;
    color: white;
		font-size: 1em;
    font-weight: 700;
    text-decoration: none;
		margin-top: 2.5em;
		float: right;
		@media #{$small} {
			font-size: 1.15em;
		}
    @media #{$medium} {
	    display: none;
	}
}

.logo {
	width: 140px;
	margin-left: -5px;
	float: left;
  @media #{$small} {
			width: 175px;
  }
  @media #{$small-ish} {
			width: 100%;
			max-width: 175px;
  }
	@media #{$medium} {
			width: 100%;
			max-width: 200px;
  }
}

.logo img {
	width: 100%;
}

.header-inner {
	width: 100%;
	@include clearfix;
	@media #{$medium} {
		width: 24%;
		margin-right: 1%;
		float: left;
	}
	@media #{$large} {
		width: 19%;
	}
}

header nav {
	transition: all 0.3s ease-out;
	overflow: hidden;
	width: 100%;
	position: relative;
	@media #{$medium} {
		float: left;
		width: 75%;
		height: 6em;
		transition: inherit;
	}
	@media #{$large} {
		width: 80%;
	}
}

header nav {
	overflow: hidden;
	max-height: 0;
	@media #{$medium} {
		max-height: inherit;
		margin-top: 2em;
		padding-top: 2em;
	}
}

.js header nav.active {
	max-height: 17em;
}

header nav ul {
	margin: 1em 0 0 0;
	padding: 0;
	border-top: 1px solid $gray;
	list-style-type: none;
	width: 100%;
	@media #{$medium} {
		margin: 0em;
		border: 0;
		transition:none;
	}
}

header nav li a {
	display: block;
	padding: .9em;
	border-bottom: 1px solid $gray;
	color: $darkgray;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	text-align: center;
	text-decoration: none;
	@media #{$medium} {
		border: none;
		padding: .5em .9em;
	}
	@media #{$large} {
		font-size: 1.2em;
		transition: .2s all ease-in-out;
	}
	&:hover, &:focus {
		color: $blue;
	}
}

header nav li.active a {
	color: $blue;
}

header nav li:nth-last-child(2) a {
	border-bottom: none;
}

header nav li:last-child a {
  @extend .button;
  @extend .button--red;
  @media #{$medium} {
  	right: 0;
		top: 0;
  	position: absolute;
		padding: .8em 2em;
		font-size: 100%;
  }
	margin-bottom: 0;
	&:hover {
		color: white;
	}
}

header nav li.active:last-child a {
	color: white ;
	background-color: $darkred;
}

header nav li {
	@media #{$medium} {
		display: inline-block;
		margin: 0 0.25em;
		padding: 0 .75em 0 0;
		border-right: 1px solid #A3A3A3;
		&:nth-last-child(2) {
			border: none;
		}
	}
	@media #{$large} {
		margin: 0 .5em;
	}
}
