// H1 = Large yellow
// H2 = Large red
// H3 = Medium red
// H4 = Small yellow
// H5 = Small green


h1 {
     font-size: 1.75em;
     font-style: normal;
     text-transform: uppercase;
     color: $yellow;
     margin-top: 0;
}

h2 {
  font-size: 1.85em;
  font-style: normal;
  color: $red;
}

h3 {
  font-size: 1.5em;
  color: $red;
}

h4 {
  color :$yellow;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0;
}

h5 {
    color: $blue;
    font-size: 1em;
    text-transform: uppercase;
}
