.infographic-list {
  @extend .plain-list;
  @media #{$small-ish} {
    -js-display: flex; // JavaScript Fallback for IE9 //
    display: flex;
    justify-content: space-between;
  }
}

.infographic-list-item {
  margin-bottom: 2em;
  @media #{$small-ish} {
    width: 30%;
  }
}

.infographic-list-item-name {
  color: $darkgray;
  padding-top: 1em;
  font-weight: 700;
  line-height: 1.4;
  @media #{$medium} {
    font-size: 1.05em;
  }
}

.infographic-list-item-icon {
  max-width:175px;
  max-height: 175px;
}
