body {
	margin: 0 auto;
	padding: 0;
}

header {
	@media #{$medium} {
		padding: $globalpadding $globalpadding*2;
	}
	@media #{$large} {
		padding: $globalpadding*1.5 $globalpadding*4 $globalpadding $globalpadding*4;
	}
	@media #{$x-large} {
		padding: $globalpadding $globalpadding*6;
		max-width: $globalpadding*100;
		margin: 0 auto;
	}
}

.header-inner {
	padding: $globalpadding $globalpadding;
	@media #{$small} {
		padding: $globalpadding $globalpadding*2;
	}
	@media #{$medium} {
		padding: 0;
	}
}

.layout-full {
	margin-left: -$globalpadding;
	width: calc(100% + #{$globalpadding*2});
	@media #{$medium} {
		margin-left: -$globalpadding*2;
		width: calc(100% + #{$globalpadding*4});
	}
	@media #{$large} {
		margin-left: -$globalpadding*4;
		width: calc(100% + #{$globalpadding*8});
	}
	@media #{$x-large} {
		margin-left: auto;
		width: auto;
	}
}

.layout-centered {
	text-align: center;
}

.layout-inner {
	margin-top: $globalpadding*2;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	@media #{$medium} {
		width: 80%;
	}
	@media #{$large} {
		width: 60%;
	}
}

.layout-split {
	@media #{$medium} {
		display: flex;
		justify-content: flex-end;
	}
}

.heading-split {
	float: left;
	width: 50%;
}

.layout-split-right {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	@media #{$medium} {
		width: 70%;
		margin-right: inherit;
		margin-left: auto;
	}
	@media #{$large} {
		width: 75%;
	}
}

.layout-split-left {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	@media #{$medium} {
		width: 20%;
	}
	@media #{$large} {
		width: 20%;
	}
}

main {
	padding: $globalpadding;
	@media #{$medium} {
		padding: $globalpadding $globalpadding*2;
	}
	@media #{$large} {
		padding: $globalpadding $globalpadding*4;
	}
	@media #{$x-large} {
		padding: $globalpadding $globalpadding*6;
		max-width: $globalpadding*100;
		margin: 0 auto;
	}
}

footer {
	padding: $globalpadding;
	@media #{$medium} {
		padding: $globalpadding $globalpadding*2;
	}
	@media #{$large} {
		padding: $globalpadding $globalpadding*4;
	}
	@media #{$x-large} {
		padding: $globalpadding $globalpadding*6;
		max-width: $globalpadding*100;
		margin: 0 auto;
	}
}
