.link-supplemental {
  text-align: center;
  display: block;
  padding: 1em 0;
  font-size: .8em;
  color: $gray;
  text-decoration: underline;
  &:hover, &:focus {
  	color: $blue;
  }
  @media screen and (min-width: 800px) {
  	top: 100px;
  	position: absolute;
  	right: 0;
  	padding: 0 .5em 0 0;
  }
}

a {
	color: $blue;
}

p a {
  font-weight: bold;
}