/* Global Styles */

body {
	font-family: $sans-serif;
	color: $darkgray;
	font-size: $basefontsize;
}

p {
  font-size: 1.05em;
  line-height: 1.7;
  font-weight: 400;
  @media #{$medium} {
    font-size: 1.1em;
  }
  @media #{$large} {
    font-size: 1.15em;
  }
}
