.tags {
  @extend h5;
  @extend .plain-list;
  display: inline-flex;
  li {
    margin-right: 1em;
  }
}

article ul {
  @extend .default-list-style;
}

.related-posts {
  margin-top: 3em;
}

.posts-list {
  @extend .plain-list;
  @media #{$small-ish} {
    -js-display: flex; // JavaScript Fallback for IE9 //
    display: flex;
    flex-wrap: wrap;
  }
}

.posts-list-item {
  margin-top: 1.5em;
  text-decoration: none;
  @media #{$small-ish} {
    width: 45%;
    margin-right: 5%;
  }
  @media #{$medium-ish} {
    width: 30%;
    margin-right: 3%;
  }
}

.posts-title {
  margin-bottom: .5em;
}

.post-date {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: $gray;
  display: inline-flex;
  margin-top: 1.5em;
  margin-bottom: 2em;
  dt {
    &:after {
    content: "";
    width: .35em;
    display: inline-block;
    }
  }
}

.back-to_button-container {margin-top: 2em}
.back-to {display: inline-block}





