.tags {
  @extend h5;
  @extend .plain-list;
  display: block;
  font-style: normal;
  font-family: $sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: .5em;
  li {
    margin-right: 1em;
    display: inline-block;
  }
}

article ul {
  @extend .default-list-style;
}

.related-posts {
  margin-top: 4em;
  .related-posts__title {
    margin-bottom: 1em;
  }
}

.posts-list {
  @extend .plain-list;
  margin-bottom: 2em;
  @media #{$small-ish} {
    -js-display: flex; // JavaScript Fallback for IE9 //
    display: flex;
    flex-wrap: wrap;
  }
}

.posts-list-item {
  margin-top: 1.5em;
  text-decoration: none;
  margin-bottom: 1.5em;
  display: inline-block;
  text-align: center;
  width: 100%;
  @media #{$small-ish} {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  @media #{$large} {
    width: 28%;
  }
  &:hover, &:focus {
    .posts-title {
      color: $darkred;
    }
    .posts-list-item__image__container:after {
      opacity: .3;
    }
  }
}

.posts-list-item--promo .posts-list-item {
  @media #{$small-ish} {
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.posts-list-video .posts-list-item__image__container:before {
  content:"";
  color: white;
  height: 25%;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDg5LjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwMCA4OS4yOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe29wYWNpdHk6MC44O2ZpbGw6IzNGM0YzRjt9LnN0MXtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iNDkuOSIgY3k9IjQ0LjYiIHI9IjM1LjYiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNNDkuOSw5YzE5LjYsMCwzNS42LDE2LDM1LjYsMzUuNnMtMTYsMzUuNi0zNS42LDM1LjZjLTE5LjYsMC0zNS42LTE2LTM1LjYtMzUuNlMzMC4zLDksNDkuOSw5IE00OS45LDBDMjUuMywwLDUuMywyMCw1LjMsNDQuNmMwLDI0LjYsMjAsNDQuNiw0NC42LDQ0LjZjMjQuNiwwLDQ0LjYtMjAsNDQuNi00NC42Qzk0LjYsMjAsNzQuNiwwLDQ5LjksMEw0OS45LDB6Ii8+PGc+PHBhdGggY2xhc3M9InN0MSIgZD0iTTQyLjQsMjQuNWMtMS4zLTEtMi40LTAuNS0yLjQsMS4ydjM3LjRjMCwxLjcsMS4xLDIuMiwyLjQsMS4ybDIzLjQtMThjMS4zLTEsMS4zLTIuNywwLTMuN0w0Mi40LDI0LjV6Ii8+PC9nPjwvc3ZnPg==);
  z-index: 2000;
  position: absolute;
  display: block;
  top: 38%;
  left: 50%;
  transform: translateY(-38%);
  transform: translateX(-50%);
  opacity: .9;
}

.posts-list-item__image {
  position: relative;
}

.posts-list-item__image__container {
  position: relative;
  width: 80%;
  max-width: 325px;
  margin: 0 auto;
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index:1000;
    transition: .3s all ease-in-out;
    overflow: hidden;
  }
  @media #{$small-ish} {
    width: 100%;
  }
}

.posts-title {
  margin-bottom: .5em;
}

.posts-description {
  color: $darkgray;
}

.post-date {
  font-size: .95em;
  text-transform: uppercase;
  font-weight: 700;
  color: $darkgray;
  display: inline-flex;
  margin-top: .5em;
  margin-bottom: 1em;
  dt {
    &:after {
    content: "";
    width: .25em;
    display: inline-block;
    }
  }
}

.back-to_button-container {
  margin-top: 2em;
  text-align: center;
}

.back-to {display: inline-block}
