.tags {
  @extend h5;
  @extend .plain-list;
  display: block;
  font-style: normal;
  font-family: $sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: .5em;
  li {
    margin-right: 1em;
    display: inline-block;
  }
}

article ul {
  @extend .default-list-style;
}

.related-posts {
  margin-top: 5em;
  .related-posts__title {
    margin-bottom: 1em;
  }
}

.posts-list {
  @extend .plain-list;
  margin-bottom: 2em;
  @media #{$small-ish} {
    -js-display: flex; // JavaScript Fallback for IE9 //
    display: flex;
    flex-wrap: wrap;
  }
}

.posts-list-item {
  margin-top: 1.5em;
  text-decoration: none;
  margin-bottom: 1.5em;
  display: inline-block;
  text-align: center;
  @media #{$small-ish} {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  @media #{$large} {
    width: 28%;
  }
  &:hover, &:focus {
    .posts-title {
      color: $darkred;
    }
    .posts-list-item__image__container:after {
      opacity: .3;
    }
  }
}

.posts-list-item__image {
  position: relative;
}

.posts-list-item__image__container {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index:1000;
    transition: .3s all ease-in-out;
    overflow: hidden;
  }
  @media #{$small-ish} {
    width: 100%;
  }
}

.posts-title {
  margin-bottom: .5em;
}

.posts-description {
  color: $darkgray;
}

.post-date {
  font-size: .95em;
  text-transform: uppercase;
  font-weight: 700;
  color: $darkgray;
  display: inline-flex;
  margin-top: .5em;
  margin-bottom: 1em;
  dt {
    &:after {
    content: "";
    width: .25em;
    display: inline-block;
    }
  }
}

.back-to_button-container {
  margin-top: 2em;
  text-align: center;
}

.back-to {display: inline-block}
