// Colors //

$gray: rgb(112,112,112); // thumbnails, body copy
$darkgray: rgb(147,149,151); // nav
$othergray: rgb(167,167,167); //footer
$anothergray: rgb(127,127,127); //about page
$blue: rgb(107,200,200);
$darkblue: rgb(9,142,133);
$green: rgb(130,201,154);
$yellow: rgb(240,194,66);
$red: rgb(233,72,52);
$darkred: rgb(197,32,38);

// Fonts //

$sans-serif: "Lato", Helvetica, Arial, sans-serif;
$serif: "Merriweather", Georgia, serif;
$basefontsize: 100%;

// Layout

$globalpadding: 1rem;

// Media Queries

$tiny: "(min-width: 31.25em)"; // 500 pixels wide //
$small: "(min-width: 37.5em)"; // 600 pixels wide //
$small-ish: "(min-width: 43.75em)"; // 700 pixels wide //
$medium: "(min-width: 50em)"; // 800 pixels wide //
$medium-ish: "(min-width: 56.25em)"; // 900 pixels wide //
$large: "(min-width: 75em)"; // 1200 pixels wide //
$x-large: "(min-width: 93.75em)"; // 1500 pixels wide //


// Mixins/Extends //

.plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
