// Colors //

$gray: rgb(112,112,112); // thumbnails, body copy
$darkgray: rgb(147,149,151); // nav
$othergray: rgb(167,167,167); //footer
$anothergray: rgb(127,127,127); //about page
$blue: rgb(107,200,200);
$darkblue: rgb(9,142,133);
$green: rgb(130,201,154);
$yellow: rgb(240,194,66);
$red: rgb(233,72,52);
$darkred: rgb(197,32,38);

// Fonts //

$sans-serif: "Lato", Helvetica, Arial, sans-serif;
$serif: "Merriweather", Georgia, serif;

$basefontsize: 100%;
