<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Merriweather' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style-guide.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

</head>
<body>
	<header>
		<div class="cd-logo"><img src="assets/logo.svg" alt="Logo"></div>


		<a href="assets/assets-download-file.zip" class="cd-download"><span>Download assets</span></a>
		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>
	</header>

	<main>
		<h1>Reading Buzz Pattern Library</h1>

		<section id="branding" class="cd-branding">
			<h2>1. Branding</h2>

			<ul>
				<li class="cd-box"><img src="assets/branding/logo-ver-1.png" alt="Logo version 1"></li>
				<li class="cd-box"><img src="assets/branding/logo-ver-2.png" alt="Logo version 2"></li>
			</ul>

			<ul>
				<li><img src="assets/branding/favicon-1.png" alt="Touch Icon 1"></li>
				<li><img src="assets/branding/favicon-2.png" alt="Touch Icon 2"></li>
				<li><img src="assets/branding/favicon-3.png" alt="Favicon 1"></li>
				<li><img src="assets/branding/favicon-4.png" alt="Favicon 2"></li>
			</ul>
		</section>

		<section id="colors" class="cd-colors">
			<h2>2. Colors</h2>

			<ul>
				<li class="cd-box">
					<div class="cd-color-swatch"></div>
				</li>

				<li class="cd-box">
					<div class="cd-color-swatch"></div>
				</li>

				<li class="cd-box">
					<div class="cd-color-swatch"></div>
				</li>

				<li class="cd-box">
					<div class="cd-color-swatch"></div>
				</li>

				<li class="cd-box">
					<div class="cd-color-swatch"></div>
				</li>
			</ul>
		</section>

		<section id="typography" class="cd-typography">
			<h2>3. Typography</h2>

			<div class="cd-box">
				<h1>Heading One <span></span></h1>
				<h2 class="h2">Heading Two</h2>

				<h3>Heading Three</h3>
				<p>Reading Buzz offers three core plans ranging from basic to fully customizable, curated by an accredited <a href="#">Children’s and Young Adult Librarian</a>. Our weekly lessons can be used by librarians, teachers and their students to find out about new, trending, read-worthy books, participate in a story time, or read along to a curriculum-supported book.</p>
			</div>
		</section>

		<section id="buttons" class="cd-buttons">
			<h2>4. Buttons</h2>

			<div class="cd-box">
				<button class="btn">Option 1</button>
				<button class="btn btn-2">Option 2</button>
				<button class="btn btn-3">Option 3</button>
				<button class="btn btn-4">Option 4</button>
			</div>

		</section>

		<section id="icons" class="cd-icons">
			<h2>5. Icons</h2>

			<ul class="cd-box">
				<li class="cd-icon-1"></li>
				<li class="cd-icon-2"></li>
				<li class="cd-icon-3"></li>
			</ul>
		</section>


	</main>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
