@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,700|Lato:900,700,400,300);

body {
   font-size: 1.3em;
   color: #2D2D2D;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgb(112,112,112);
   padding: 1em 1em 0 1em;
   text-align: center;
   max-width: 700px;
   margin: 0 auto;
}

#header{
	margin-top: 1em;
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;
	margin-left:-8%;
}

p {
	text-align: center;
	line-height: 1.5;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(233,72,52);
  font-size: 1.25em;
  text-align: center;
  margin-top: 2em;
  }

a {
   font-size: 1em;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgba(107,200,200,1);

}

#header img {
	width: 50%;
	max-width: 400px;
	margin-top: 1em;
}

#navigation{
	width: 100%;
}

#navigation ul {
	margin: 0; padding: 0;
	float: left;
}

#navigation ul li {
	display: inline;
}

#navigation ul li a {
	color: black;
	font-size: 2em;
	float: left; 
	text-decoration: none;
	padding: 20px;
}

#navigation ul li a:visited {
	color: black;
}

