<table class="container">
    <tr>
      <td>
        <table class="row">
          <tbody>
            <th class="columns first last">
              <table>
                <tr>
                  <th>
                    This email was sent to *|EMAIL|*</a>.
                    <br>
                    *|LIST:DESCRIPTION|*
                    <br>
                    Sent by *|LIST:COMPANY|* | *|LIST:ADDRESS|*
                    <br>
                    *|HTML:LIST_ADDRESS_HTML|*
                    <br>
                    <br>
                    *|REWARDS|*
                    <a href="*|UNSUB|*">Unsubscribe from this list.</a>
                    </th>
                  <th class="expander"></th>
                </tr>
              </table>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
</table>
