
                                  <h4><span class="sansSerifCustom">Reading Buzz</span></h4>
                                  *|HTML:LIST_ADDRESS_HTML|*
                                  *|LIST:ABUSE_EMAIL|*
                                  <br>
                                  <br/>
                                  This email was sent to *|EMAIL|*</a>.
                                  <br/>
                                  *|LIST:DESCRIPTION|*
                                  <br>
                                  <br/>
                                  <a href="*|UNSUB|*">Unsubscribe from this list.</a>
                                  <br>
                                  <br>
                                  *|REWARDS|*
