{#
 # Reading Buzz - Email Layout Template
 # ---------------
 #}

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width"/>
     <title>{{ entry.title }}</title>
     <!-- Import Fonts for Mail Clients that Support Them -->
     <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:700italic' rel='stylesheet' type='text/css'>
      {% block css %}
        <style type="text/css">
          {% include 'email/foundation.css' %}
          {% include 'email/email.css' %}
        </style>
      {% endblock %}
    </head>
    <body>
      <!-- <style> -->
      <table class="body" data-made-with-foundation>
          <tr>
            <td class="float-center" align="center" valign="top">
              <center> <!-- Start Required Center Tag -->
                <table class="container"> <!-- Start Main Container Wrapper -->
                  <tr> <!-- Start Container TR -->
                    <td> <!-- Start Container TD -->
                      {% include 'email/_header' %}
                    </td> <!-- End Container TD -->
                  </tr> <!-- End Container TR -->
                </table> <!-- End Main Container Wrapper -->
              </center> <!-- End Required Center Tag -->
            </td>
          </tr>
      </table>
    </body>
  </html>
