{#
 # Email Newsletter Template
 # ---------------
 #}

{% extends "email/_layout" %}

{% block content %}
    <p>{{ entry.emailMessage }}</p>
    <br />
    <h2>What's New?</h2>
    {% set posts = entry.whatsNewPosts %}
    {% if posts | length %}
      {% for post in posts %}
      <!-- Post Teaser // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
              <tr>
                <td valign="top" class="column column-25">
                  {% for asset in post.blogFeaturedImage %}
                      <img src= "{{ asset.url('postThumbnail') }}" width="150" height="106" alt="{{ asset.title }}" />
                  {% endfor %}
                </td>
                <td valign="top" width="180" class="column column-75">
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                  <p>{{ post.blogShortDescription }}</p>
                </td>
              </tr>
          </table>
      <!-- // End Post Teaser -->
      {% endfor %}
    {% endif %}
    <br />
    <h2>Weekly Tip</h2>
    {% set posts = entry.weeklyTip %}
    {% if posts | length %}
      {% for post in posts %}
      <!-- Post Teaser // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
              <tr>
                <td valign="top" class="column column-25">
                  {% for asset in post.blogFeaturedImage %}
                      <img src= "{{ asset.url('postThumbnail') }}" width="150" height="106" alt="{{ asset.title }}" />
                  {% endfor %}
                </td>
                <td valign="top" width="180" class="column column-75">
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                  <p>{{ post.blogShortDescription }}</p>
                </td>
              </tr>
          </table>
      <!-- // End Post Teaser -->
      {% endfor %}
    {% endif %}
    <br />
    <p>{{ email.emailCallToAction }}</p>
    <br />
    {% set videolink = email.emailBrowseAllVideos %}
    {% if videolink | length %}
      {% for link in videolink %}
          <h4><a href="{{ link.url }}">View All {{ link.title }}</a></h4>
      {% endfor %}
    {% endif %}
    <br />
    <p>{{ email.emailThankYou }}</p>
{% endblock %}
