{#
 # Email Newsletter Template
 # ---------------
 #}

{% extends "email/_layout" %}

{% block content %}
    <div class="sansSerifCustom">{{ entry.emailMessage }}</div>
    <br />
    <h2><span class="sansSerifCustom">What's New?</span></h2>
    {% set posts = entry.whatsNewPosts %}
    {% if posts | length %}
      {% for post in posts %}
      <!-- Post Teaser // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
              <tr>
                <td valign="top" class="column column-25">
                  {% for asset in post.blogFeaturedImage %}
                      <img src= "{{ asset.url('postThumbnail') }}" width="150" height="106" alt="{{ asset.title }}" />
                  {% endfor %}
                </td>
                <td valign="top" width="180" class="column column-75">
                  <h3><a href="{{ post.url }}"><span class="sansSerifCustom">{{ post.title }}</span></a></h3>
                  <p><span class="sansSerifCustom">{{ post.blogShortDescription }}</span></p>
                </td>
              </tr>
          </table>
      <!-- // End Post Teaser -->
      {% endfor %}
    {% endif %}
    <br />
    <h2><span class="sansSerifCustom">Weekly Tip</span></h2>
    {% set posts = entry.weeklyTip %}
    {% if posts | length %}
      {% for post in posts %}
      <!-- Post Teaser // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
              <tr>
                <td valign="top" class="column column-25">
                  {% for asset in post.blogFeaturedImage %}
                      <img src= "{{ asset.url('postThumbnail') }}" width="150" height="106" alt="{{ asset.title }}" />
                  {% endfor %}
                </td>
                <td valign="top" width="180" class="column column-75">
                  <h3><a href="{{ post.url }}"><span class="sansSerifCustom">{{ post.title }}</span></a></h3>
                  <p><span class="sansSerifCustom">{{ post.blogShortDescription }}</span></p>
                </td>
              </tr>
          </table>
      <!-- // End Post Teaser -->
      {% endfor %}
    {% endif %}
    <br />
    <!-- Call to Action Section // -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" id="cta">
            <tr>
              <td valign="top" class="cta">
                <p><span class="sansSerifCustom">{{ email.emailCallToAction }}</span></p>
                <br />
                {% set videolink = email.emailBrowseAllVideos %}
                {% if videolink | length %}
                  {% for link in videolink %}
                  <!-- Call to Action Button // -->
                    <table align="center" border="0" cellpadding="0" width="250" cellspacing="0" width="75%" id="ctaButton">
                          <tr>
                            <td valign="top" class="ctaButton">
                              <a href="{{ link.url }}"><span class="sansSerifCustom">View All {{ link.title }}</span></a>
                            </td>
                          </tr>
                      </table>
                  <!-- // End Call to Action Button -->
                  {% endfor %}
                {% endif %}
                <br />
                <p><span class="sansSerifCustom">{{ email.emailThankYou }}</span></p>
              </td>
            </tr>
        </table>
    <!-- // End Call to Action Secton -->
{% endblock %}
