<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
</head>


<body>
  <header class="column row">
      <div class="small-6 small-offset-0 medium-4 medium-offset-0 columns">
        <a href="home.php" class="logolink">
            <img class="logo" src="assets/logo.svg"</img>
        </a>
      </div>
      <a href="#menu" class="menu-link">Menu</a>

      <nav id="menu" role="navigation">
            <ul>
              <li><a href="blog.php">Blog</a></li>
              <li><a href="plans.php">Plans</a></li>
              <li><a href="about.php" class="aboutlink">About</a></li>

              <li class="signup"><a href="signup.php" class=signuplink>Sign Up</a>
              </li>
            </ul>
      </nav>
</header>
