{#
 # Email Newsletter Template
 # ---------------
 #}

{% block content %}
    {% if entry.emailMessage | length %}
      <div class="sansSerifCustom">{{ entry.emailMessage }}</div>
      {% set profile = craft.entries.section('staff').find() %}
      {% for entry in profile %}
            {% set headshot = entry.staffHeadshot %}
            {% for asset in headshot %}
              <!-- Post Teaser // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
                <tr>
                  <td width="100%" class="closingContainer" valign="top">
                    <p class="closing"><span class="sansSerifCustom">{{ email.emailClosing}}</span></p>
                  </td>
                </tr>
              </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
                      <tr>
                        <td valign="top" class="column column-15">
                          <img class="profile-thumb" src="{{ asset.url('profileThumb') }}" height="50" width="50" alt="{{ asset.title }}" />
                        </td>
                        <td valign="top" width="180" class="column column-85">
                          <p><span class="sansSerifCustom">{{ entry.title}}</span>
                          <br/>
                          <span class="sansSerifCustom">{{entry.staffTitle}}</span></p>
                        </td>
                      </tr>
                  </table>
              <!-- // End Post Teaser -->
            {% endfor %}
      {% endfor %}
    {% endif %}
    {% set posts = entry.whatsNewPosts %}
    {% if posts | length %}
      <br />
      <h2><span class="sansSerifCustom">What's New?</span></h2>
      {% for post in posts %}
      <!-- Post Teaser // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
              <tr>
                <td valign="top" class="column column-25">
                  {% for asset in post.blogFeaturedImage %}
                      <img src= "{{ asset.url('postThumbnail') }}" width="150" height="106" alt="{{ asset.title }}" />
                  {% endfor %}
                </td>
                <td valign="top" width="180" class="column column-75">
                  <h3><a href="{{ post.url }}"><span class="sansSerifCustom">{{ post.title }}</span></a></h3>
                  <p><span class="sansSerifCustom">{{ post.blogShortDescription }}</span></p>
                </td>
              </tr>
          </table>
      <!-- // End Post Teaser -->
      {% endfor %}
    {% endif %}
    {% set posts = entry.weeklyTip %}
    {% if posts | length %}
    <br />
    <h2><span class="sansSerifCustom">Weekly Tip</span></h2>
      {% for post in posts %}
      <!-- Post Teaser // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="column">
              <tr>
                <td valign="top" class="column column-25">
                  {% for asset in post.blogFeaturedImage %}
                      <img src= "{{ asset.url('postThumbnail') }}" width="150" height="106" alt="{{ asset.title }}" />
                  {% endfor %}
                </td>
                <td valign="top" width="180" class="column column-75">
                  <h3><a href="{{ post.url }}"><span class="sansSerifCustom">{{ post.title }}</span></a></h3>
                  <p><span class="sansSerifCustom">{{ post.blogShortDescription }}</span></p>
                </td>
              </tr>
          </table>
      <!-- // End Post Teaser -->
      {% endfor %}
    {% endif %}
    <br />
    <!-- Call to Action Section // -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" id="cta">
            <tr>
              <td valign="top" class="cta">
                <p><span class="sansSerifCustom">{{ email.emailCallToAction }}</span></p>
                <br />
                {% set videolink = email.emailBrowseAllVideos %}
                {% if videolink | length %}
                  {% for link in videolink %}
                  <!-- Call to Action Button // -->
                    <table align="center" border="0" cellpadding="0" width="250" cellspacing="0" width="75%" id="ctaButton">
                          <tr>
                            <td valign="top" class="ctaButton">
                              <a href="{{ link.url }}"><span class="sansSerifCustom">View All {{ link.title }}</span></a>
                            </td>
                          </tr>
                      </table>
                  <!-- // End Call to Action Button -->
                  {% endfor %}
                {% endif %}
                <br />
                <p><span class="sansSerifCustom">{{ email.emailThankYou }}</span></p>
              </td>
            </tr>
        </table>
    <!-- // End Call to Action Secton -->
{% endblock %}
