<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
</head>


<body>
  <header class="column row">
        <div class="small-6 small-offset-0 medium-4 medium-offset-0 columns">
          <a href="home.html" class="logolink">
              <img class="logo" src="assets/logo.svg"</img>
          </a>
        </div>
        <a href="#menu" class="menu-link">Menu</a>

        <nav id="menu" role="navigation">
        			<ul>
        				<li><a href="blog.html">Blog</a></li>
        				<li><a href="plans.html">Plans</a></li>
        				<li><a href="about.html" class="aboutlink">About</a></li>

                <li class="signup"><a href="signup.html" class=signuplink>Sign Up</a>
        				</li>
        			</ul>
        </nav>
  </header>

  <div class="column row">
    <div class="small-12 columns">
        <img class="libraryphoto" src="assets/library.jpg" alt="Reading Buzz Intro video"></img>
    </div>
    <div class="small-12 columns callout">
      <div id="callout">Premium videos delivered weekly to librarians</div>
  </div>
   </div>


  <main class="row">

         <div class="column row">
           <div class="plans">
            <h1>Our Plans</h1>

            <p>Reading Buzz is a pre K-8 weekly digital video library lesson, book talk, story time, read along, plus tips for busy librarians. I created Reading Buzz because the need and demand for literacy-print literacy, information literacy, and media literacy is at an all time high.</p>
          </div>

            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img class="icons" src="assets/calendar.svg"</img>
                <div id="icontitle">
                  Monthly Tip Videos
                </div>
            </div>
            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img class="icons" src="assets/camera.svg"</img>
                <div id="icontitle">
                  Weekly Pre-Recorded Content
                </div>
            </div>
            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img class="icons" src="assets/newsletter.svg"</img>
                <div id="icontitle">
                  Weekly Newsletter Updates
                </div>
            </div>
        </div>

        <div class="row column">
          <p id="learn">Learn more about our plan offerings and which program is right for you.</p>
            <div class="small-12 small-offset-0 medium-6 medium-offset-0 columns">
              <a class="home-signup" href="#">
                Sign Up
              </a>
              </div>
            <div class="small-12 small-offset-0 medium-6 medium-offset-0 columns">
              <a class="home-learn" href="#">
                Learn More
              </a>
            </div>
          </div>
  </main>

    <hr />

<footer class="row">
      <div class="small-12 small-offset-0 medium-3 medium-offset-0 columns">
        <div class="reading">
          <h4>Reading Buzz</h4>
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="plans.html">Plans</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </div>
      </div>

      <div class="small-12 small-offset-0 medium-4 medium-push-0 columns">
        <div class="contact">
          <h4>Contact</h4>
          <ul>
            <li class="lindsey">Lindsey Buzzelli</li>
            <li><a href="mailto:readingbuzz@gmail.com">readingbuzz@gmail.com</li>
          </ul>
        </div>
      </div>

      <div class="small-12 small-offset-0 medium-3 medium-push-2 columns">
        <div class="socialmedia">
          <a href="#"><img src="assets/facebook.svg"></img></a>
          <a href="#"><img src="assets/twitter.svg"></img></a>
          <a href="#"><img src="assets/pinterest.svg"></img></a>
        </div>
      </div>
</footer>

</body>

<link rel="stylesheet" type="text/css" href="app.css">
<link rel="stylesheet" type="text/css" href="foundation.css">
<link href="style.css" rel="stylesheet" type="text/css" media="screen"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="javascript.js"></script>

</html>
