<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
      <header class="column row">
        <div class="small-6 small-offset-0 medium-3 medium-offset-0 columns">
          <img class="logo" src="assets/logo.svg"</img>
        </div>
        <a class="menu-trigger small-6 columns" href="#">Menu</a>

        <nav class="small-12 medium-9 medium-offset-0 columns">
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Plans</a></li>
            <li><a href="#">About</a></li>
            <li class="signup"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
      </header>
      <main class="row">
        <div class="column row">
          <div class="small-12 columns">
            <p style="text-align: center">Intro Video / Hero image<br><br><br><br><br></p>
          </div>
          <div class="small-12 columns callout">
            <h2>Premium videos delivered weekly to librarians</h2>
        </div>
         </div>

         <div class="column row">
           <div class="plans-heading">
            <h1>Our Plans</h1>
          </div>

            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img src="assets/calendar.svg"</img>

            </div>
            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img src="assets/camera.svg"</img>
            </div>
            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img src="assets/newsletter.svg"</img>
            </div>
        </div>
        <div class="row column">
          <p>Learn more about our plan offerings and which program is right for you.</p>
            <div class="small-6 small-offset-3 medium-6 medium-offset-0 columns">Sign Up</div>
            <div class="small-6 small-offset-3 medium-6 medium-offset-0 columns">Learn More</div>
          </div>
      </main>
      <footer class="row">
        <div class="small-6 small-offset-3 medium-2 medium-offset-0 columns">
        <h1>Reading Buzz</h1>
          <ul>
            <li>About</li>
            <li>Services</li>
            <li>Blog</li>
            <li>Sign Up</li>
          </ul>
        </div>
        <div class="small-6 small-offset-3 medium-2 medium-push-5 columns">
          <h1>Contact</h1>
          <ul>
            <li>Name</li>
          </ul>
        </div>
      </footer>

      <link rel="stylesheet" type="text/css" href="app.css">
      <link rel="stylesheet" type="text/css" href="foundation.css">
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->


  </body>
</html>
