<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
</head>


<body>
  <header class="column row">
        <div class="small-6 small-offset-0 medium-3 medium-offset-0 columns">
          <img class="logo" src="assets/logo.svg"</img>
        </div>
        <a class="menu-trigger small-3 columns" href="#">Menu</a>

        <nav class="small-12 medium-9 medium-offset-0 columns">
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Plans</a></li>
            <li><a href="#">About</a></li>
            <li class="signup"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
  </header>

  <main class="row">
        <div class="column row">
          <div class="small-12 columns">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/M5RCO2LOtwU" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="small-12 columns callout">
            <div id="callout">Premium videos delivered weekly to librarians</div>
        </div>
         </div>

         <div class="column row">
           <div class="plans-heading">
            <h1>Our Plans</h1>
          </div>

            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img class="icons" src="assets/calendar.svg"</img>
                <div id="icontitle">
                  Monthly Tip Videos
                </div>
            </div>
            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img class="icons" src="assets/camera.svg"</img>
                <div id="icontitle">
                  Weekly Pre-Recorded Content
                </div>
            </div>
            <div class="small-8 small-offset-2 medium-4 medium-offset-0 columns">
              <img class="icons" src="assets/newsletter.svg"</img>
                <div id="icontitle">
                  Weekly Newsletter Updates
                </div>
            </div>
        </div>

        <div class="row column">
          <p id="learn">Learn more about our plan offerings and which program is right for you.</p>
            <div class="small-10 small-offset-1 medium-6 medium-offset-0 columns">
              <a class="home-signup" href="#">
                Sign Up
              </a>
              </div>
            <div class="small-10 small-offset-1 medium-6 medium-offset-0 columns">
              <a class="home-learn" href="#">
                Learn More
              </a>
            </div>
          </div>
  </main>


  <footer class="row">
    <hr />
        <div class="small-6 small-offset-3 medium-2 medium-offset-0 columns">
        <h4>Reading Buzz</h4>
          <ul>
            <li>About</li>
            <li>Services</li>
            <li>Blog</li>
            <li>Sign Up</li>
          </ul>
        </div>
        <div class="small-6 small-offset-3 medium-2 medium-push-0 columns">
          <h4>Contact</h4>
          <ul>
            <li>Lindsey Buzzelli Andes</li>
            <li>readingbuzz@gmail.com</li>
          </ul>
        </div>
  </footer>

      <link rel="stylesheet" type="text/css" href="app.css">
      <link rel="stylesheet" type="text/css" href="foundation.css">
      <link href="style.css" rel="stylesheet" type="text/css" media="screen"/>


</body>

</html>
