<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>


    <header class="column row">
          <div class="small-6 small-offset-0 medium-4 medium-offset-0 columns">
            <a href="home.html" class="logolink">
                <img class="logo" src="assets/logo.svg"</img>
            </a>
          </div>
          <a href="#menu" class="menu-link">Menu</a>

          <nav id="menu" role="navigation">
          			<ul>
          				<li><a href="blog.html">Blog</a></li>
          				<li><a href="plans.html">Plans</a></li>
          				<li><a href="about.html" class="aboutlink">About</a></li>

                  <li class="signup"><a href="signup.html" class=signuplink>Sign Up</a>
          				</li>
          			</ul>
          </nav>
    </header>


      <main class="plans-page row clearfix">



         <div class="plans-block column row">

           <div class="row column">
             <h1>Plans</h1>
             </div>

             <div class="plan1 small-10 small-offset-1 medium-3 medium-offset-0 columns">
               <h5>Basic</h5>
               <hr />
               <h6 class="access1">Includes:</h6>
               <ul>
                 <li>Weekly 20 minute lessons for PreK-8</li>
                 <li>Monthly tip video</li>
                 <li>Full access to ReadingBuzz.us</li>
                 <li class="price">$250</li>
                 <li class="permonth">per month</li>
                 <li class="peryear">or $2,400 per school year</li>
               </ul>
             </div>

             <div class="plan2 small-10 small-offset-1 medium-3 medium-offset-0 columns">
               <h5>Plus</h5>
               <hr />
               <h6 class="access2">Includes:</h6>
               <ul>
                 <li>Monthly live sessions for PreK-8</li>
                 <li>Monthly tip videos</li>
                 <li>Full access to ReadingBuzz.us</li>
                 <li class="price">$300</li>
                 <li class="permonth">per month</li>
                 <li class="peryear">or $3,600 per school year</li>
               </ul>
             </div>

             <div class="plan3 small-10 small-offset-1 medium-3 medium-offset-0 columns">
               <h5>Premium</h5>
               <hr />
               <h6 class="access3">Includes:</h6>
               <ul>
                 <li>Customizable videos</li>
                 <li>Monthly live video sessions</li>
                 <li>Monthly tip videos</li>
                 <li>Full access to ReadingBuzz.us</li>
                 <li class="price">$400</li>
                 <li class="permonth">per month</li>
                 <li class="peryear">or $4,800 per school year</li>
               </ul>
             </div>

        </div>

        <div class="row column" clearfix>
            <div class="whichplan">
              <h1>Which Plan is Right For Me?</h1>
                <p>Knowledge is power, and at Reading Buzz, we put the power in your hands by offering access to a library of educational videos and blog posts. We offer three core plans ranging from basic to fully customizable, with face-to-face options available. Bolster the educational services offered through your library by signing up with Reading Buzz today.</p>

              <div class="plan-videos">
                <div class="plan-video1 small-10 small-offset-1 medium-3 medium-offset-0 columns">
                  Video
                </div>

                <div class="plan-video2 small-10 small-offset-1 medium-3 medium-offset-0 columns">
                  Video
                </div>

                <div class="plan-video3 small-10 small-offset-1 medium-3 medium-offset-0 columns">
                  Video
                </div>

                <div class="plans-signup small-6 small-offset-3 medium-4 medium-offset-4 columns">
                  <a href="signup.html">Sign Up</a>
                </div>
              </div>

            </div>
          </div>

      </main>

      <hr />

      <footer class="row">
            <div class="small-12 small-offset-0 medium-3 medium-offset-0 columns">
              <div class="reading">
                <h4>Reading Buzz</h4>
                  <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="plans.html">Plans</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                  </ul>
              </div>
            </div>

            <div class="small-12 small-offset-0 medium-4 medium-push-0 columns">
              <div class="contact">
                <h4>Contact</h4>
                <ul>
                  <li class="lindsey">Lindsey Buzzelli</li>
                  <li><a href="mailto:readingbuzz@gmail.com">readingbuzz@gmail.com</li>
                </ul>
              </div>
            </div>

            <div class="small-12 small-offset-0 medium-3 medium-push-2 columns">
              <div class="socialmedia">
                <a href="#"><img src="assets/facebook.svg"></img></a>
                <a href="#"><img src="assets/twitter.svg"></img></a>
                <a href="#"><img src="assets/pinterest.svg"></img></a>
              </div>
            </div>
      </footer>

      <link rel="stylesheet" type="text/css" href="app.css">
      <link rel="stylesheet" type="text/css" href="foundation.css">
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="javascript.js"></script>

  </body>
</html>
