<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>


    <header class="column row">
          <div class="small-6 small-offset-0 medium-4 medium-offset-0 columns">
            <a href="home.html" class="logolink">
                <img class="logo" src="assets/logo.svg"</img>
            </a>
          </div>
          <a href="#menu" class="menu-link">Menu</a>

          <nav id="menu" role="navigation">
          			<ul>
          				<li><a href="#">Blog</a></li>
          				<li><a href="plans.html">Plans</a></li>
          				<li><a href="#" class="aboutlink">About</a></li>

                  <li class="signup"><a href="#" class=signuplink>Sign Up</a>
          				</li>
          			</ul>
          </nav>
    </header>


      <main class="plans-page row clearfix">

         <div class="column row">

           <div class="row column">
             <h1>Plans</h1>
             </div>

          <div class="plans-block">
             <div class="plan1 small-10 small-offset-1 medium-3 medium-offset-0 columns">
               <h5>Plan 1</h5>
               <hr />
               <h6 class="access1">Access to:</h6>
               <ul>
                 <li>Weekly pre-recorded content</li>
                 <li>Weekly newsletter updates</li>
                 <li>Monthly tip videos</li>
                 <li class="price">7.99</li>
                 <li class="permonth">per month</li>
                 <li class="peryear">or $96 per year</li>
               </ul>
             </div>

             <div class="plan2 small-10 small-offset-1 medium-3 medium-offset-0 columns">
               <h5>Plan 2</h5>
               <hr />
               <h6 class="access2">Access to:</h6>
               <ul>
                 <li>Weekly pre-recorded content</li>
                 <li>Weekly newsletter updates</li>
                 <li>Monthly tip videos</li>
                 <li class="price">10.99</li>
                 <li class="permonth">per month</li>
                 <li class="peryear">or $132 per year</li>
               </ul>
             </div>

             <div class="plan3 small-10 small-offset-1 medium-3 medium-offset-0 columns">
               <h5>Plan 3</h5>
               <hr />
               <h6 class="access3">Access to:</h6>
               <ul>
                 <li>Weekly pre-recorded content</li>
                 <li>Weekly newsletter updates</li>
                 <li>Monthly tip videos</li>
                 <li class="price">12.99</li>
                 <li class="permonth">per month</li>
                 <li class="peryear">or $156 per year</li>
               </ul>
             </div>

          </div>

        </div>

        <div class="row column" clearfix>
            <div class="whichplan">
              <h1>Which Plan is Right For Me?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in posuere turpis, eu dictum neque. Maecenas pharetra lorem et diam scelerisque, nec porta risus congue. Suspendisse malesuada luctus rhoncus. Nam pellentesque eleifend nibh, vel rhoncus est scelerisque id. Donec eu tincidunt quam.</p>

                <div class="plans-signup small-6 small-offset-3 medium-4 medium-offset-4 columns">
                  <a href="#">Sign Up</a>
                </div>

            </div>
          </div>

      </main>

      <hr />

      <footer class="row">
            <div class="small-12 small-offset-0 medium-3 medium-offset-0 columns">
              <div class="reading">
                <h4>Reading Buzz</h4>
                  <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="plans.html">Plans</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Sign Up</a></li>
                  </ul>
              </div>
            </div>

            <div class="small-12 small-offset-0 medium-4 medium-push-0 columns">
              <div class="contact">
                <h4>Contact</h4>
                <ul>
                  <li class="lindsey">Lindsey Buzzelli</li>
                  <li><a href="mailto:readingbuzz@gmail.com">readingbuzz@gmail.com</li>
                </ul>
              </div>
            </div>

            <div class="small-12 small-offset-0 medium-3 medium-push-2 columns">
              <div class="socialmedia">
                <a href="#"><img src="assets/facebook.svg"></img></a>
                <a href="#"><img src="assets/twitter.svg"></img></a>
                <a href="#"><img src="assets/pinterest.svg"></img></a>
              </div>
            </div>
      </footer>

      <link rel="stylesheet" type="text/css" href="app.css">
      <link rel="stylesheet" type="text/css" href="foundation.css">
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->


  </body>
</html>
