@import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,700|Lato:700,400,300);


h1 {
     font-size: 22px;
     line-height: 25px;
     font-family: "Lato", sans-serif;
     font-weight: 700;
     font-style: normal;
     text-transform: uppercase;
     margin-bottom: -.5em;
     padding: 1.75em 0 .5em 0;
     color: rgba(240,194,66,1);
     text-align: center;
  }

h2 {
    margin: -5em 0 0 0;
    text-align: center;
    position: absolute;
    width: 100%;
  }

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(240,194,66,1);
  font-size: .9em;
}

@media screen and (max-width:800px) {
  h4 {
    font-size: .8em;
  }
}

.row {
  max-width: 100%;
}

.columns, .column {
    padding: 0;
  }

#callout {
  font-family: "Merriweather", serif;
  color: white;
  width: 100%;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 1.25em;
  margin: .25em;
  line-height: 1.25em;
}

@media screen and (min-width: 800px) {
  #callout {
    font-size: 1.5em;
    }
  }

#icontitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: .9em;
  line-height: 1.4em;
  padding: 0 .5em;
  color: rgb(112,112,112);
}

@media screen and (min-width: 800px) {
  #icontitle {
    font-size: 1em;
   }
  }

  @media screen and (max-width: 639px) {
  #icontitle {
    font-size: 1em;
    padding-bottom: .25em;
   }
   .icons {
     width: 60%;
   }
  }

  @media screen and (max-width: 500px) {
    #icontitle {
      font-size: .9em;
    }
    .icons {
      width: 70%;
    }
  }

main {
  padding: 0;
  margin: 0;
}

body {
   font-size: 1.3em;
   color: #2D2D2D;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 300;
   font-style: normal;
   color: rgb(112,112,112);
   padding: 1em 0 0 0;
}

@media screen and (min-width:1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}

a {
   font-size: 18px;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 300;
   font-style: normal;
   color: rgba(107,200,200,1);
}

a:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (min-width: 800px) {
  header {
    display: flex;
  }
}

p {
  margin: .25em;
}

#menu {
  margin-right: 2.5em;
}

a.menu-link {
  	    float: right;
		    padding: .45em 1.5em;
        background-color: rgb(107,200,200);
        border: 3px solid rgb(9,142,133);
        color: white;
        font-weight: 700;
        margin: 4em 2.5em 0 0;
		}

@media screen and (max-width: 500px) {
      a.menu-link {
        margin-right: 1em;
      }
    }

		nav[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		nav[role=navigation].active {
			max-height: 15em;
		}
		nav[role=navigation] ul {
			margin: 1em 0 0 0;
			padding: 0;
			border-top: 1px solid #A3A3A3;
		}
		nav[role=navigation] li a {
			display: block;
			padding: 0.5em;
			border-bottom: 1px solid #A3A3A3;
		}

    nav[role=navigation] .signuplink {
      border-bottom: none;
    }

    nav[role=navigation] .aboutlink {
      border-bottom: none;
    }

		@media screen and (min-width:800px) {
			a.menu-link {
			   display: none;
			}
			.js nav[role=navigation] {
				max-height: none;
			}
			nav[role=navigation] ul {
				margin: 0 0 0 -0.25em;
				border: 0;
			}

			nav[role=navigation]  li {
				display: inline-block;
				margin: 0 0.25em;
			}
			nav[role=navigation] li a {
				border: 0;
			}
		}

.signup {
  background-color: rgb(233,72,52);
  border: 3px solid rgb(197,32,38);
}

@media screen and (min-width:800px) {
	.signup {
		float: right;
    padding: 0em .5em;
	}
}

.signup a {
  color: white;
  font-weight: bold;
}

.signup a:hover {
  color: white;
}

nav {
  margin: 2.5em 0 0 0em;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 2em 0 0 0;
  padding: 0;
  width: 100%;
}

@media screen and (mid-width:800px) {
	nav li {
  float: left;
  padding: 0 1em;
	}
}


nav li a {
  color: rgb(147,149,151);
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9em;
  text-align: center;
}

nav li a:hover {
  color: rgb(107,200,200);
}

@media screen and (min-width: 800px) {
  nav li {
    border-right: 1px solid #A3A3A3;
    padding-right: .75em;
  }
  nav li:nth-last-child(2) {
    border: none;
  }
}

@media screen and (min-width: 800px) {
  nav {
    max-height: inherit;
  }
}

.menu-trigger {
  float: right;
  margin: 3.75em 0 0 0;
  color: white;
  background-color: rgb(107,200,200);
  border: 3px solid rgb(9,142,133);
  padding: .25em .75em;
  text-align: center;
  font-weight: 700;
  font-size: .9em;
}

@media screen and (min-width: 800px) {
  .menu-trigger {
    display: none;
  }
}

.logo {
  max-width: 250px;
  padding-right: 2em;
  padding-left: .75em;
  margin-left: 1.5em;
  margin-right: 2em;
}

@media screen and (max-width: 500px) {
  .logo {
    margin-left: 0em;
  }
}

.signup a {
  color: white;
  font-weight: bold;
}

.signup a:hover {
  color: white;
}

.icons {
  margin: 0 auto;
  display: flex;
  padding: .5em .8em 0 .5em;

}

.home-signup, .home-learn {
  background-color: rgb(233,72,52);
  border: 3.9px solid rgb(197,32,38);
  color: white;
  width: 60%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: .75em 2em;
  text-align: center;
  margin: .5em;
}

@media screen and (max-width:639px) {
  .home-signup, .home-learn {
    padding: .5em 1em;
  }
}

.home-signup {
  float: right;
}

.home-learn {
  float: left;
}

@media screen and (max-width: 1080px) {
  .home-signup, .home-learn {
    width: 80%;
    margin: .5em;
  }
}

@media screen and (max-width: 639px) {
  .home-signup, .home-learn {
    float: none;
    display: block;
    width: 80%;
    margin: .35em auto;
  }
}

.plans {
  text-align: center;
}

.plans p {
  padding: .5em 8em;
}

@media screen and (max-width:1000px) {
  .plans p {
    padding: .5em 5em;
    font-size: .9em;
  }
}

@media screen and (max-width:639px) {
  .plans p {
    font-size: .82em;
  }
}

@media screen and (max-width:580px) {
  .plans p {
    padding: .5em 1.5em;
  }
}

#learn {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  font-size: 1em;
  padding: 2.5em 2em 0 2em;
  line-height: 1.6em;
}

@media screen and (max-width: 1000px) {
 #learn {
   font-size: .9em;
   padding: 2em 2em 0 2em;
 }
}

.libraryphoto {
  margin: 1.5em 0 -.4em 0;
  width: 100%;
  height: 100;
}

.callout {
  background-color: rgb(233,72,52);
  padding: .5em;
  margin: 0;
  width: 100%
}

@media screen and (max-width: 639px) {
  #callout {
    font-size: 1em;
    line-height: 1.35em;
    }
  }

hr {
    margin-top: 1.75em;
    width: 100%;
  }

footer {
  padding: 0 0 0 5.5em;
}

@media screen and (max-width: 639px) {
  footer {
  padding: 0 0 0 0em;
  }
}

.reading {
  padding-right: 1.5em;
  margin-bottom: 2em;
}

@media screen and (max-width:1000px) {
  .reading {
    margin-left: -2em;
  }
}

@media screen and (max-width:820px) {
  .reading {
    margin-left: -3em;
  }
}

@media screen and (max-width:639px) {
  footer {
    text-align: center;
  }
  .reading {
    padding-right: 0em;
  }
}

@media screen and (min-width: 800px) {
  footer {
    text-align: left;
  }
}

footer ul {
    list-style-type: none;
    margin: 0;
  }

footer ul li a {
  font-size: .9em;
  color: #2D2D2D;
  color: rgb(112,112,112);
}

footer ul li a:hover {
color: rgb(107,200,200);
}

footer h4 {
    margin: .25em 0;
    font-size: .9em;
}

.lindsey {
  font-size: .9em;
  color: #2D2D2D;
  color: rgb(112,112,112);
}

@media screen and (max-width: 639px) {
  .contact {
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
  .reading {
    margin-bottom: 0em;
    margin-left: 0em;
  }
}

.socialmedia img {
  padding: 0 .25em;
}

.socialmedia {
  margin-bottom: 1.5em;
}

@media screen and (max-width:765px) and (min-width:639px) {
  .socialmedia img {
    width: 30%
  }
  .socialmedia {
    margin-left: -1em;
  }
}

@media screen and (max-width:1000px) {
  .footer {
    margin-left: -10em;
  }
}


/* PLANS PAGE */


/* Headings */

h5 {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 1em;
  margin-top: 1em;
}

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.access1 {
  color: rgb(9,142,133);
}

.access2 {
  color: rgb(189,133,43);
}

.access3 {
  color: rgb(30,137,67);
}

.plans-page {
  text-align: center;
}

.plans-page hr {
    width: 80%;
    border-color: white;
    margin-top: 0em;
  }

.plans-page li {
  list-style-type: none;
  color: white;
  font-weight: 400;
}

.plans-page a {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.plans-page p {
  font-size: .82em;
  margin-top: .5em;
  padding: .5em 2.5em;
}

@media screen and (min-width: 580px) {
  .plans-page p {
    padding: .5em 3.5em;
  }
}

@media screen and (min-width: 640px) {
  .plans-page p {
    font-size: .9em;
    padding: .5em 4em;
  }
}

@media screen and (min-width: 1000px) {
  .plans-page p {
    padding: .5em 8em;
    font-size: 1em;
  }
}

.plan1, .plan2, .plan3 {
  margin-bottom: .5em;
  margin-top: 1em;
  padding-bottom: 1em;
}

.plan1 {
  background-color: rgb(107,200,200);
  margin-right: 1em;
}

.plan2 {
  background-color: rgb(240,194,66);
  margin-right: 1em;
}

.plan3 {
  background-color: rgb(130,201,154);
}

.plans-signup {
  background-color: rgb(233,72,52);
  border: 3.9px solid rgb(197,32,38);
  text-align: center;
  padding: .5em 1.5em;
  margin-top: 1em;
}

.price {
  font-size: 2.25em;
  font-weight: 700!important;
  margin-top: .3em;
}

.permonth {
  margin-top: -.75em;
  font-size: .9em;
}

.peryear {
  font-size: .75em;
  margin-top: .5em;
}


/* Clearfix */

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
