@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,700|Lato:900,700,400,300);



/* Header */

.header {
  max-width: 1300px!important;
}

header {
  margin-bottom: 1.5em;
}


/* HOME PAGE */

h1 {
     font-size: 1.5em;
     line-height: 1.25em;
     font-family: "Lato", sans-serif;
     font-weight: 700;
     font-style: normal;
     text-transform: uppercase;
     padding: .75em 0 .5em 0;
     color: rgba(240,194,66,1);
     text-align: center;
  }

.home h1 {
  font-size: 1.25em;
  margin-top: .5em;
}

@media screen and (min-width: 800px) {
  .home h1 {
    font-size: 1.5em;
  }
}

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 1.75em;
    }
  }

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(233,72,52);
  font-size: 1.25em;
  }


h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(107,200,200);
    font-size: .75em;
    text-transform: uppercase;
    }

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(240,194,66,1);
  font-size: 1.05em;
}

.carousel {
  position: relative;
  max-height: 650px;
  overflow: hidden;

}

.carousel-title {
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 49%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 49%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 49%,rgba(0,0,0,0.65) 100%);
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  text-align: center;
  width: 100%;
}

.carousel-button {
  background-color: rgb(107,200,200);
  border: 3px solid rgb(9,142,133);
  color: white;
  font-weight: bold;
  padding: .5em 1.5em;
}

.carousel-button:hover {
  background-color: rgb(9,142,133)
}

.carousel h1 {
  color: white;
  text-transform: inherit;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 900;
  text-shadow: 3px 1px 10px rgba(0,0,0,.8)
}

@media screen and (min-width: 500px) {
  .carousel h1 {
    font-size: 1.75em;
    padding: 0 1em 0 1em;
  }
}

@media screen and (min-width: 800px) {
  .carousel h1 {
    font-size: 2.25em;
    padding: 0 2em 0 2em;
  }
}

@media screen and (min-width: 1000px) {
  .carousel h1 {
    font-size: 2.75em;
  }
}

.carousel h2 {
  color: white;
  font-size: .75em;
  text-align: center;
  text-shadow: 3px 1px 10px rgba(0,0,0,.8)
}

@media screen and (min-width: 500px) {
  .carousel h2 {
    font-size: .95em;
    padding: 0 1em 0 1em;
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 640px) {
  .carousel h2 {
  }
}

@media screen and (min-width: 800px) {
  .carousel h2 {
    font-size: 1em;
    padding: 0 2em 0 2em;
  }
}

@media screen and (min-width: 1000px) {
  .carousel h2 {
    font-size: 1.5em;
  }
}

.row {
  max-width: 100%;
}

.columns, .column {
    padding: 0;
  }

#callout {
  font-family: "Merriweather", serif;
  color: white;
  width: 100%;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 1.25em;
  margin: .25em;
  line-height: 1.25em;
}

@media screen and (max-width: 487px) {
    #callout {
      margin: 0em;
    }
  }

#icontitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: .9em;
  line-height: 1.4em;
  padding: 0 .5em;
  color: rgb(112,112,112);
}

@media screen and (min-width: 800px) {
  #icontitle {
    font-size: 1em;
   }
  }

  @media screen and (max-width: 639px) {
  #icontitle {
    font-size: 1em;
    padding-bottom: .25em;
   }
   .icons {
     width: 60%;
   }
  }

  @media screen and (max-width: 500px) {
    #icontitle {
      font-size: .9em;
    }
    .icons {
      width: 70%;
    }
  }

main {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1300px;
}

body {
   font-size: 1.3em;
   color: #2D2D2D;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgb(112,112,112);
   padding: 1em 0 0 0;
}

@media screen and (min-width:1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}

a {
   font-size: 1em;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgba(107,200,200,1);
}

.plans a:hover {
  color: rgb(127,127,127);
}

a:hover {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 800px) {
  header {
    display: flex;
  }
}

#menu {
  margin-right: 2.5em;
}

a.menu-link {
  	    float: right;
		    padding: .45em 1.5em;
        background-color: rgb(107,200,200);
        border: 3px solid rgb(9,142,133);
        color: white;
        font-weight: 700;
        margin: 2em 2.5em 0 0;
		}

@media screen and (min-width: 501px) {
    a.menu-link {
      margin-top: 3em;
    }
}

@media screen and (max-width: 500px) {
      a.menu-link {
        margin-right: 1em;
      }
    }

		nav[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		nav[role=navigation].active {
			max-height: 15em;
		}
		nav[role=navigation] ul {
			margin: 1em 0 0 0;
			padding: 0;
			border-top: 1px solid #A3A3A3;
		}
		nav[role=navigation] li a {
			display: block;
			padding: 0.5em;
			border-bottom: 1px solid #A3A3A3;
		}

    nav[role=navigation] .signuplink {
      border-bottom: none;
    }

    nav[role=navigation] .aboutlink {
      border-bottom: none;
    }

		@media screen and (min-width:800px) {
			a.menu-link {
			   display: none;
			}
			.js nav[role=navigation] {
				max-height: none;
			}
			nav[role=navigation] ul {
				margin: 0 0 0 -0.25em;
				border: 0;
			}

			nav[role=navigation]  li {
				display: inline-block;
				margin: 0 0.25em;
			}

      @media screen and (min-width: 1200px) {
        nav[role=navigation] li {
          margin: 0 .5em;
        }
      }

			nav[role=navigation] li a {
				border: 0;
			}
		}

.signup {
  background-color: rgb(233,72,52);
  border: 3px solid rgb(197,32,38);
  color: white;
  font-weight: bold;
  transition: .2s all ease-in-out;
}

.signup:hover, .signup:focus {
  background-color: rgb(197,32,38);
}

@media screen and (min-width:800px) {
	.signup {
    padding: .125em 1em;
    right: 0;
    top: .55em;
    position: absolute;
  }
}

nav {
  margin: 2.1em 0 -1.5em 0em;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 700px) {
  nav {
    margin: 2.5em 0 0 0em;
  }
}

nav ul {
  list-style-type: none;
  margin: 2em 0 0 0;
  padding: 0;
  width: 100%;
}

@media screen and (mid-width:800px) {
	nav li {
  float: left;
  padding: 0 1em;
	}
}


nav li a {
  color: rgb(147,149,151);
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  nav li a {
    font-size: 1em;
    transition: .2s all ease-in-out;
  }

}

nav li a:hover {
  color: rgb(107,200,200);
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  nav li {
    border-right: 1px solid #A3A3A3;
    padding-right: .75em;
  }
  nav li:nth-last-child(2) {
    border: none;
  }
}

@media screen and (min-width: 800px) {
  nav {
    max-height: inherit;
  }
}

.menu-trigger {
  float: right;
  margin: 3.75em 0 0 0;
  color: white;
  background-color: rgb(107,200,200);
  border: 3px solid rgb(9,142,133);
  padding: .25em .75em;
  text-align: center;
  font-weight: 700;
  font-size: .9em;
}

@media screen and (min-width: 800px) {
  .menu-trigger {
    display: none;
  }
}

.logo {
  max-width: 200px;
  padding-right: 2em;
  padding-left: .75em;
  margin-left: 0em;
}

@media screen and (min-width: 500px) {
  .logo {
    margin-left: 1em;
    max-width: 225px;
  }
}

@media screen and (min-width: 700px) {
  .logo {
    max-width: 250px;
  }
}

.signup a {
  color: white;
  font-weight: bold;
}

.signup a:hover {
  color: white;
}

.icons {
  margin: 0 auto;
  display: flex;
  padding: .5em .8em 0 .5em;
}

.icons-container {
  max-width: 1000px;
  margin: 1em auto 0 auto;
}

.home-signup, .home-learn {
  border: 3.9px solid rgb(197,32,38);
  width: 60%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: .75em 2em;
  text-align: center;
  margin: .5em;
}

.home-signup {
  background-color: rgb(233,72,52);
  color: white;
  float: left;
}

.home-learn {
  background-color: white;
  color: rgb(233,72,52);
  float: right;
}

.home-learn:hover {
  color: rgb(233,72,52);
}

@media screen and (max-width:639px) {
  .home-signup, .home-learn {
    padding: .5em 1em;
  }
}

@media screen and (max-width: 1080px) {
  .home-signup, .home-learn {
    width: 80%;
    margin: .5em;
  }
}

@media screen and (max-width: 639px) {
  .home-signup, .home-learn {
    float: none;
    display: block;
    width: 80%;
    margin: .35em auto;
  }
}

.plans {
  text-align: center;
}

.plans p {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width:1000px) {
  .plans p {
    font-size: .9em;
  }
}

@media screen and (max-width:639px) {
  .plans p {
    font-size: .82em;
  }
}


.call-to-action {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
  padding: 2.5em 2em 0 2em;
  line-height: 1.6em;
  margin-bottom: 1em;
  margin-top: 1em;
}

@media screen and (max-width: 1000px) {
 .call-to-action {
   font-size: .9em;
   padding: 2em 2em 0 2em;
 }
}

.libraryphoto {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .libraryphoto {
    margin-top: -3em;
  }
}

.callout {
  background-color: rgb(233,72,52);
  padding: 1.5em;
  margin: 0;
  width: 100%
}

@media screen and (max-width: 639px) {
  #callout {
    font-size: 1em;
    line-height: 1.35em;
    }
  }

hr {
    margin-top: 1.75em;
    width: 100%;
  }

footer {
  padding: 0 0 0 5.5em;
}

@media screen and (max-width: 639px) {
  footer {
  padding: 0 0 0 0em;
  }
}

.reading {
  padding-right: 1.5em;
  margin-bottom: 2em;
}

@media screen and (max-width:1000px) {
  .reading {
    margin-left: -2em;
  }
}

@media screen and (max-width:820px) {
  .reading {
    margin-left: -3em;
  }
}

@media screen and (max-width:639px) {
  footer {
    text-align: center;
  }
  .reading {
    padding-right: 0em;
  }
}

@media screen and (min-width: 800px) {
  footer {
    text-align: left;
  }
}

footer ul {
    list-style-type: none;
    margin: 0;
  }

footer ul li a {
  font-size: .9em;
  color: #2D2D2D;
  color: rgb(112,112,112);
}

footer ul li a:hover {
color: rgb(107,200,200);
}

footer h4 {
    margin: .25em 0;
    font-size: .9em;
}

.lindsey {
  font-size: .9em;
  color: #2D2D2D;
  color: rgb(112,112,112);
}

@media screen and (max-width: 639px) {
  .contact {
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
  .reading {
    margin-bottom: 0em;
    margin-left: 0em;
  }
}

.socialmedia img {
  padding: 0 .25em;
}

.socialmedia {
  margin-bottom: 1.5em;
}

@media screen and (max-width:780px) and (min-width:639px) {
  .socialmedia img {
    width: 30%
  }
  .socialmedia {
    margin-left: -1em;
  }
}

@media screen and (max-width:1000px) {
  .footer {
    margin-left: -10em;
  }
}





/* PLANS PAGE */

.plans-block {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

h5 {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 1em;
  margin-top: 1em;
}

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.price {
  font-size: 2.25em!important;
  font-weight: 700!important;
  margin-top: .3em;
}

.permonth {
  margin-top: -.75em;
  font-size: .9em!important;
}

.peryear {
  font-size: .75em!important;
  margin-top: .5em;
}

.access1 {
  color: rgb(9,142,133);
}

.access2 {
  color: rgb(189,133,43);
}

.access3 {
  color: rgb(30,137,67);
}

.planli-1, .planli-2, .planli-3, .planli-4 {
  line-height: 1.25em;
}

.planli-2, .planli-3, .planli-4 {
  margin-top: .5em;
}

.plans-page {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.plans-page hr {
    width: 80%;
    border-color: white;
    margin-top: 0em;
  }

.plans-page li {
  list-style-type: none;
  color: white;
  font-weight: 400;
  font-size: .9em;
}

@media screen and (min-width: 1000px) {
  .plans-page li {
    font-size: 1em;
  }
}

.plans-page p {
  font-size: .85em;
  padding: 0 1em;
  margin-bottom: 3em;
}

.plans-page a {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.plans-page ul {
  margin-left: 0em;
}

.whichplan h4 {
  margin-top: 3em;
}

.plan-videos {
  margin: 0 auto;
}

.plan-video {
  background-color: #B7B7B7;
  padding: 4em 1em;
  margin-top: .75em;
  margin-bottom: .75em;
}

@media screen and (min-width: 40em) {
  .plan-video {
    width: 30%;
    margin-left: 1.65%;
    margin-right: 1.65%;
  }
}

@media screen and (min-width: 580px) {
  .plans-page p {
    padding: 0 3.5em;
  }
}

@media screen and (min-width: 640px) {
  .plans-page p {
    font-size: .9em;
    padding: 0 4em;
  }
}

@media screen and (min-width: 1000px) {
  .plans-page p {
    padding: 0 8em;
    font-size: 1em;
  }
}

.plan1, .plan2, .plan3 {
  margin-bottom: .5em;
  margin-top: 1em;
  padding:1em;
}

@media screen and (min-width: 40em) {
  .plan1, .plan2, .plan3 {
      width: 30%;
      margin-left: 1.65%;
      margin-right: 1.65%;
  }
}

.plan1 {
  background-color: rgb(107,200,200);
}

.plan2 {
  background-color: rgb(240,194,66);
}

.plan3 {
  background-color: rgb(130,201,154);
}

.plans-signup {
  background-color: rgb(233,72,52);
  border: 3.9px solid rgb(197,32,38);
  text-align: center;
  padding: .5em .5em;
  margin-top: 2em;
}

.plans-request {
  font-family: Georgia;
  font-style: italic;
  font-size: .9em;
  padding-right: 1em;
  padding-left: 1em;
  line-height: 1.35em;
}

@media screen and (min-width: 640px) {
  .plans-request {
    font-size: 1em;
  }
}

.plans-block {
  margin-bottom: 1em;
}



/* ABOUT PAGE */

.aboutpage {
  max-width: 1200px;
}

.aboutpage a {
  color: white;
  font-weight: 700;
}

.aboutpage p {
  font-size: .82em;
  text-align: center;
  padding-right: 1em;
}

.aboutpage ul {
  margin-left: 0em;
}

@media screen and (min-width: 640px) {
  .aboutpage p {
    font-size: .9em;
  }
}

@media screen and (min-width: 1000px) {
  .aboutpage p {
    font-size: 1em;
  }
}

.aboutpage ul {
  font-family: "Merriweather", serif;
  text-align: center;
  color: rgb(127,127,127);
  font-style: italic;
  font-size: .85em;
  list-style-type: none;
  line-height: 1.5em;
}

@media screen and (min-width: 640px) {
  .aboutpage ul {
    text-align: left;
  }
}

.li1-f {
  margin-top: 2em
}

.li1 {
  margin-top: 1em;
}

.li2, .li3 {
  margin-top: .75em;
}


.biography {
  margin: 0 auto;
  display: block;
}

.lindseyabout {
  margin: 0 auto;
  text-align: center;
}

.meetlindsey {
  text-align: center;
  padding-top: 1.75em;
}

.lindsey-img {
  padding-top: .5em;
  max-width: 50%;
}

.about-center-list {
  text-align: center!important;
  padding-left: 0!important;
}

@media screen and (min-width: 1000px) {
  .about-center-list li {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 640px) {
  .lindsey-img {
    max-width: 100%;
    margin-top: 1.3em;
    padding-right: 1.5em;
  }
}

.bio-p1 {
  margin-top: 1.5em;
}

@media screen and (min-width: 640px) {
  .bio-p2 {
    text-align: left!important;
    margin-top: 1em;
  }
  .meetlindsey {
    text-align: left;
  }
}

.call-to-action2 {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 1em;
  padding: 0 1em;
  line-height: 1.6em;
}

@media screen and (max-width: 639px) {
  .favoritelist {
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .favoritelist li {
    font-size: 1.1em;
  }
}





/* Blog/Video Page */

.blog-page .row {
  margin-left: 0;
  margin-right: 0;
}

.blog-page {
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
}

.blog-page p {
  font-size: .82em;
}

@media screen and (min-width: 640px) {
  .blog-page p {
    font-size: .9em;
  }
}

@media screen and (min-width: 1000px) {
  .blog-page p {
    font-size: 1em;
  }
}

.blog-page h2 {
  margin: 1em 0;
}

@media screen and (min-width: 640px) {
  .blog-page h2 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1000px) {
  .blog-page h2 {
    font-size: 1.6em;
  }
}

.blog-page h3 {
  margin-top: -1.25em;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 640px) {
  .blog-page h3 {
    font-size: .85em;
  }
}

@media screen and (min-width: 1000px) {
  .blog-page h3 {
    font-size: .9em;
  }
}

.blog-page h4 {
  margin-top: 2em;
}

.sub-description {
  line-height: 1.4em;
  font-size: .9em;
}

.blog-page a {
  font-weight: 700;
}

.blog-page a:hover {
  color: rgb(107,200,200);
}

.blogphoto {
    margin: 1.5em 0 -.4em 0;
    width: 100%;
  }

.subheading {
  font-size: 1em;
  margin: 0;
}

.thumbnail-block {
  padding: 1em;
}

@media screen and (min-width: 640px) {
  .subheading {
    font-size: 1em!important;
  }
}

@media screen and (min-width: 1000px) {
  .subheading {
    font-size: 1.15em!important;
  }
}

.thumbnail1, .thumbnail2, .thumbnail3 {
  background-color: #B7B7B7;
  padding: 4em 1em;
  margin-top: .75em;
  margin-bottom: .75em;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .thumbnail-block {
    margin-bottom: -1em;
  }
}

article {
  text-align: left;
  margin-top: 1.5em;
}

@media screen and (min-width: 640px) {
  article {
    margin-top: 2.5em;
  }
}

iframe {
  margin-top: 1em;
  max-width: 100%;
}

.center-video {
  margin: 0 auto;
  text-align: center;
}

.video-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 0 1em;
}

@media screen and (max-width: 500px) {
  .video-section {
    padding: 0em;
  }
}







/* Blog Index Page */


.blogindex-page .sub-description {
  margin: .25em 0 1em 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .blogindex-page h1 {
    float: left;
  }
}

.blogindex-page h2 {
  text-align: center;
}

.blog-search {
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .blog-search {
    text-align: left;
    padding-left: 2.5em;
    float: right;
  }
  .blogindex-page h1 {
    text-align: left;
  }
  .blogindex-page .forms {
    float: right;
    padding-right: 1em;
    padding-top: 1.6em;
  }
  .plan-videos {
    float: left;
  }
  .blogindex-page .plan-videos {
    padding-left: 1.5em;
  }
  .search {
    width: 180px;
  }
}

.blogindex-page a {
  color: inherit;
}

@media screen and (max-width: 1275px) {
  .filter-bar {
    padding-left: 1em;
  }
}

.filterby {
  background-color: rgb(107,200,200);
  color: white;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 1.95em;
}

.blogindex-page h3 {
  font-size: .9em;
  margin-bottom: .75em;
  margin-top: 2em;
}

.blogindex-page p {
  margin-top: -.35em;
}

.filter-text {
  font-size: .9em;
  line-height: 1.25em;
}

.filter-content {
  text-align: left;
}

@media screen and (max-width: 639px) {
  .filter-content {
    text-align: center;
  }
  .filter-bar {
    padding-left: 0em;
  }
}




/* Sign Up Page */


.signup-page {
  max-width: 1300px;
}

.signup-page p {
  font-size: .82em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (min-width: 640px) {
  .signup-page p {
    font-size: .9em;
  }
}

@media screen and (min-width: 1000px) {
  .signup-page p {
    font-size: 1em;
  }
}

.signup-page input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signup-page input[type=submit] {
    width: 100%;
    background-color: rgb(233,72,52);
    border: 3px solid rgb(197,32,38);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid rgb(197,32,38);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
}

.signup-page input[type=submit]:hover {
    background-color: rgb(197,32,38);
}

.signup-page .forms {
    padding: 1em 2em 0 2em;
}

@media screen and (min-width: 600px) {
  .signup-page .forms {
    padding: 1em 4em 0 4em;
  }
}

@media screen and (min-width: 885px) {
  .signup-page .forms {
    padding: 1em 6em 0 6em;
  }
}

@media screen and (min-width: 1000px) {
  .signup-page .forms {
    padding-right: 0 8em 0 8em;
  }
}

.forms {
  max-width: 1000px;
  margin: 0 auto;
}

.forms label {
  font-size: .85em;
}

@media screen and (min-width: 835px) {
  .fname {
      width: 48%;
      float: left;
      text-align: left;
      margin-right: 4%;
  }
  .lname {
      width: 48%;
      float: left;
  }
}

@media screen and (min-width: 800px) {
  .submit-form {
     max-width: 200px;
     text-align: center;
  }
}

.signup-page a:hover {
  color: rgb(112,112,112);
}


textarea {
  display: block;
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
}









/* Clearfix */

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
