{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
		{{ entry.videoUrl|videoEmbed }}
		<h1>{{ entry.title }}</h1>
		<p>{{ entry.blogShortDescription }}</p>
		<ul>
			<li>
				{% for category in entry.blogTheme %}
				    {{ category.title }}
				{% endfor %}
			</li>
			<li>
				{% for category in entry.blogGradeLevel %}
				    {{ category.title }}
				{% endfor %}
			</li>
		</ul>
		<p>Posted on {{ entry.postDate | date("M Y") }}</p>

		<p>{{ entry.videoDescription }}</p>

		<h2>{{ entry.relatedPostsTitle }}</h2>
			{% set category = craft.categories.group('theme') %}
			{% set entries = craft.entries.section('video').relatedTo(category).id('not ' ~ entry.id).limit(3) %}
			{% for entry in entries %}
				{% include 'global/_posts-teaser.html' %}
			{% endfor %}
{% endblock %}
