{#
 # Video Entry Template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
    <section class="feature-image layout-inner">
      <div class="video-container">
        {{ entry.videoUrl|videoEmbed }}
      </div>
    </section>
    <article class="layout-inner">
      <div class="layout-centered">
    		<h2>{{ entry.title }}</h2>
        <ul class="tags">
    			<li>
    				{% for category in entry.blogTheme %}
    				    {{ category.title }}
    				{% endfor %}
    			</li>
    			<li>
    				{% for category in entry.blogGradeLevel %}
    				    {{ category.title }}
    				{% endfor %}
    			</li>
    		</ul>
        <dl class="post-date">
          <dt>Posted</dt>
          <dd><date>{{ entry.postDate.format('F d, Y') }}</date></dd>
        </dl>
      </div>
      <div>{{ entry.videoDescription }}</div>
    </article>
    <section class="layout-inner layout-centered related-posts">
    <h4 class="related-posts__title">{{ miscGlobals.relatedPostsTitle }}</h4>
      {% set category = craft.categories.group('videoTheme') %}
      {% set entries = craft.entries.section('video').relatedTo(category).id('not ' ~ entry.id).limit(3) %}
      <ul class="posts-list">
        {% for entry in entries %}
          {% include 'global/_posts-teaser.html' %}
        {% endfor %}
      </ul>
      <p class="back-to_button-container" >
        <a class="button--blue button back-to" href="{{ url('videos') }}">Back to Video Index</a>
      </p>
    </section>
{% endblock %}
