{#
 # Video Category Template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
<div class="layout-split">
  <section class="layout-split-right">
  	<h1 class="heading-split">{{ category.title }}</h1>
    <nav class="search-form">
      <form action="{{ url('video/results') }}">
        <label for="search-input" class="search-form-label" class="hidden">Search</label>
        <input id="search-input" placeholder="Search for Keywords" type="search" name="q" class="search-form-field">
        <input type="submit" value="Search" class="search-form-icon">
      </form>
    </nav>
  </section>
</div>

<div class="layout-split">
{% include 'global/_video-sidebar.html' %}
  <section class="layout-split-right layout-centered">


    {% set Video = craft.entries.section('video').relatedTo(category) %}

    {% if Video|length %}
      <ul class="posts-list">
        {% for entry in Video %}
          {% include 'global/_posts-teaser.html' %}
        {% endfor %}
      </ul>
    {% endif %}
    {% set BackToIndex = miscGlobals.backToVideoText %}
    {% for entry in miscGlobals.backToVideoIndex %}
      <p class="back-to_button-container" >
        <a class="button--blue button back-to" href="{{ entry.url }}">{{ BackToIndex }}</a>
      </p>
    {% endfor %}
  </section>

</div>
{% endblock %}
