

@media screen and (min-width:660px) {




#new-content {
  float:left;
  max-width:300px;
  width:70%
  border-style:dotted;
  border-color:lightgrey;
  border-width:2.5px;
  border-radius:1.5%;
  padding:20px;
  margin-right:0;
  margin-left:0;
  margin-bottom:30px;

}


#new-content h3 {
  text-align:left;
}

#new-content img {
  display:inline;
  width:300px;
  height:125px;

}

#new-content h4, #new-content p {
  display:block;
  width:98%;
  text-align:left;
  margin:10px;
  padding:0;

} 

#tip-video {
  float:right;
  width:30%;
  max-width:225px; 
  border-style:dotted;
  border-color:lightgrey;
  border-width:2.5px;
  border-radius:1.5%;
  padding:30px;
  text-align:center;
  margin-right:0;
  margin-left:0;
  margin-bottom:10px;
}

#tip-video img {
  display:block;

}

footer {
  clear:both;
}

footer p, footer img {
  margin-top:40px;
}
/*
