<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Greetings from Reading Buzz!</title> <!--Is this needed for an email template?-->
		<link rel="stylesheet" href="email.css" >
		<link rel="stylesheet" href="responsiveEmail.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	</head>
	<body>
		<header id="email-header">
				<img id="logo" src="assets/logo.svg" />


							<div id="greeting">
								<h1>Greetings from Reading Buzz!</h1>
							</div>

			</header>
		<div class="wrapper">

								<p>Hi Jen! We're excited to share with you some of our latest video and blog posts. It's our goal to continue to enhance your library's service offering by providing current, meaningful content. Enjoy!</p>

			<article id="new-content" >
				<h3>What's New?</h3>
					<div class="new-content-post" id="new-video">
						<img src="placeholder.png" alt="new video post" class="placeholder"/>
						<div class="supporting-text">
						<h4>Video Post</h4>
						<p class="post-p">This is some information about the new video post. Click on the image to learn more.</p>
						</div>
					</div>
					<div class="new-content-post" id="new-blog">
						<img src="placeholder.png" alt="new blog post" class="placeholder"/>
						<div class="supporting-text">
						<h4>Blog Post</h4>
						<p class="post-p">This is some information about the new blog post. Click on the image to learn more.</p>
						</div>
					</div>
 			</article>

			<section id="tip-video">
				<div>
				<h3>Tip Video</h3>
					<img src="placeholder.png" alt="tip video post" class="placeholder"/>
					<h4>Video Post</h4>
					<p class="post-p">This is some information about the new tip video. Click on the image to learn more.</p>
				</div>
			</section>



		</div>
		<div id="outro">
			<p>Want to check out more of our great videos?</p>
			<a id="button" href="#">Browse the Library</a>
			<p>Thank you for your continued interest in Reading Buzz!</p>
		</div>


		<footer>
				<table align="center">
					<tr>
						<td id="contact">
						<p><b>Contact Reading Buzz</b></p>
						<p>Lindsey Buzzelli - Andes</p>
						<p><a href="mailto:readingbuzz@gmail.com">readingbuzz@gmail.com</a></p>
						</td>
						<td id="unsubscribe">
						<p><a href="#">Unsubscribe</a> from these email notifications.</p>
						</td>
						<td id="social">
							<img src="twitter-wrap.png" alt="Twitter" />
							<img src="facebook-wrap.png" alt="Facebook" />
						</td>
					</tr>

				</table>

		</footer>

	</body>






















</html>
