<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Greetings from Reading Buzz!</title> <!--Is this needed for an email template?-->
		<link rel="stylesheet" href="welcome.css" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	</head>
	<body>
		<header id="email-header">
				<img id="logo" src="assets/logo.svg" />


							<div id="greeting">
								<h1>Welcome to Reading Buzz!</h1>
							</div>

			</header>
		<div class="wrapper">

						<div class="intro">

								<p>Hi Jen! Welcome to Reading Buzz, where you'll have access to a collection of educational video content curated by an accredited Children’s and Young Adult Librarian.</p>

								<p class="p-2">Our weekly lessons can be used by librarians, teachers and their students to find out about new, trending, read-worthy books, listen to participate in a story time, or readalong to a curriculum-supported book.</p>

						</div>




								<article id="getting-started">
									<h3>Here's How it Works</h3>
									<ol>
									<li>You can access video content by visiting our <a href="http://www.readingbuzz.us/dev/prototype/templates/videoIndex.php">separate site for premium users</a>.</li>

									<li>We'll send you monthly email notifications to keep you updated on new content and provide exclusive tip videos.</li>

									<li>Any questions? Feel free to <a href="mail-to:readingbuzz@gmail.com"> email us</a>.</li>

									</ol>

					 			</article>



		</div>
		<div id="intro">
			<p>We're looking forward to delivering quality educational content to your library.</p>
		</div>


		<footer>
				<table align="center">
					<tr>
						<td id="contact">
						<p id="contact-title">Contact Reading Buzz</p>
						<p>Lindsey Buzzelli - Andes</p>
						<p><a href="mailto:readingbuzz@gmail.com">readingbuzz@gmail.com</a></p>
						</td>
						<td id="unsubscribe">
						<p><a href="#">Unsubscribe</a> from these email notifications.</p>
						</td>
						<td id="social">
							<a href="#">
								<img src="twitter-wrap.png" alt="Twitter" />
							</a>
							<a href="#">
								<img src="facebook-wrap.png" alt="Facebook" />
							</a>
						</td>
					</tr>

				</table>

		</footer>

	</body>






















</html>
