{#
 # Blog entry template
 #}

{% extends "_layout" %}

{% block content %}
  <section class="feature-image">
    {% set assets = entry.blogFeaturedImage %}
    {% for asset in assets %}
    <picture>
        <source srcset="{{ asset.url('largeFeatureImage') }}" media="(min-width: 1200px)">
        <source srcset="{{ asset.url('mediumFeatureImage') }}" media="(min-width: 700px)">
        <img class="carousel-slide-image" srcset="{{ asset.url('smallFeatureImage') }}" alt="{{ asset.title }}">
    </picture>
    {% endfor %}
  </section>
	<article class="layout-inner">
    <div class="layout-centered">
  		<h2>{{ entry.title }}</h2>
  		<ul class="tags">
  			<li>
  				{% for category in entry.blogTheme %}
  				    {{ category.title }}
  				{% endfor %}
  			</li>
  			<li>
  				{% for category in entry.blogGradeLevel %}
  				    {{ category.title }}
  				{% endfor %}
  			</li>
  		</ul>
  		<dl class="post-date">
        <dt>Posted on</dt>
        <dd>{{ entry.postDate | date("M Y") }}</dd>
      </dl>
    </div>

		{% for block in entry.blogContentMatrix %}

		    {% if block.type == "heading" %}

		        <h3>{{ block.heading }}</h3>

		    {% elseif block.type == "text" %}

		        {{ block.text|markdown }}

		    {% elseif block.type == "image" %}

		        {% set image = block.image.first() %}
		        {% if image %}
		            <img src="{{ image.getUrl('') }}">
		        {% endif %}

		    {% elseif block.type == "pullQuote" %}

		        <blockquote>
		            <p>{{ block.pullQuote }}</p>
		            <cite>– {{ block.quotee }}</cite>
		        </blockquote>

		    {% endif %}

		{% endfor %}

	</article>
  <section class="layout-inner layout-centered related-posts">
  <h4>{{ entry.relatedPostsTitle }}</h4>
    {% set category = craft.categories.group('theme') %}
    {% set entries = craft.entries.section('blog').relatedTo(category).id('not ' ~ entry.id).limit(3) %}
    <ul class="posts-list">
      {% for entry in entries %}
        {% include 'global/_posts-teaser.html' %}
      {% endfor %}
    </ul>
    <p class="back-to_button-container" >
      <a class="button--blue button back-to" href="{{ url('blogs') }}">Back to Blog Index</a>
    </p>
  </section>
{% endblock %}
