{#
 # Blog entry template
 #}

{% extends "_layout" %}

{# Overrides the default social media image #}

{% set socialCrop = {
    mode: 'crop',
    width: 472,
    height: 394,
    quality: 85,
    position: 'center-center'
} %}
{% set assets = entry.blogFeaturedImage %}
{% for asset in assets %}
  {% set seomaticMeta = seomaticMeta | merge({
    og: {
        image: asset.getUrl(socialCrop),
    },
    twitter: {
      image: asset.getUrl(socialCrop),
    }
  }) %}
{% endfor %}

{% block content %}
  <section class="feature-image">
    {% set assets = entry.blogFeaturedImage %}
    {% for asset in assets %}
    <picture>
        <source srcset="{{ asset.url('postLargeFeatureImage') }}" media="(min-width: 1000px)">
        <source srcset="{{ asset.url('mediumFeatureImage') }}" media="(min-width: 600px)">
        <img class="carousel-slide-image" srcset="{{ asset.url('smallFeatureImage') }}" alt="{{ asset.title }}">
    </picture>
    {% endfor %}
  </section>
	<article>
    <div class="layout-centered">
  		<h2>{{ entry.title }}</h2>
  		<ul class="tags">
  				{% for category in entry.blogTheme %}
              <li>{{ category.title }}</li>
  				{% endfor %}
  				{% for category in entry.blogGradeLevel %}
  				    <li>{{ category.title }}</li>
  				{% endfor %}
  		</ul>
  		<dl class="post-date">
        <dt>Posted</dt>
        <dd><date>{{ entry.postDate.format('F d, Y') }}</date></dd>
      </dl>
    </div>

		{% include 'global/_post-content.html' %}

	</article>
  <section class="layout-inner layout-centered related-posts">
  <h4 class="related-posts__title">{{ miscGlobals.relatedPostsTitle }}</h4>

    {% set category = entry.blogTheme %}
    {% set entries = craft.entries.section('blog').relatedTo(category).id('not ' ~ entry.id).limit(3) %}

    <ul class="posts-list posts-list-item--promo">
      {% for entry in entries %}
        {% include 'global/_posts-teaser.html' %}
      {% endfor %}
    </ul>
    {% set BackToIndex = miscGlobals.backToBlogText %}
    {% for entry in miscGlobals.backToBlogIndex %}
      <p class="back-to_button-container" >
        <a class="button--blue button back-to" href="{{ entry.url }}">{{ BackToIndex }}</a>
      </p>
    {% endfor %}
  </section>
{% endblock %}
