{#
 # Blog index template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
	<h1>{{ entry.title }}</h1>

	{% for entry in craft.entries.section('blog').find() %}
			
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>{{ entry.blogShortDescription }}</p>

			{% set assets = entry.blogFeaturedImage %}
			{% for asset in assets %}
				<img src="{{ asset.url }}" />
			{% endfor %}
			<p>Posted on {{ entry.postDate | date("M Y") }}</p> 
			
	{% endfor %}
{% endblock %}
