{#
 # Blog index template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
<div class="layout-split">
  <section class="layout-split-right">
  	<h1 class="heading-split">{{ entry.title }}</h1>
    <nav class="search-form">
      <form action="{{ url('blog/results') }}">
        <label for="search-input" class="search-form-label" class="hidden">Search</label>
        <input id="search-input" placeholder="Search for Keywords" type="search" name="q" class="search-form-field">
        <input type="submit" value="Search" class="search-form-icon">
      </form>
    </nav>
  </section>
</div>
<div class="layout-split">
  {% include 'global/_blog-sidebar.html' %}
  {% include 'global/_post-listing.html' %}
</div>
{% endblock %}
