{#
 # Reading Buzz - Layout template
 # ---------------
 #}

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en-US">
 <head>
 	<meta charset="utf-8" />
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	{% include '_includes/_metadata.html' %}
 	{% include '_includes/_favicons.html' %}
 	{% include '_includes/_critical-css.html' %}
 </head> 

<body>
	{% include 'global/_header.html' %}
	<main id="content" role="main">
		{% block content %}
		{% endblock %}
	</main>
	{% include 'global/_footer.html' %}
</body>
</html>
