{#
 # Category template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
<div class="layout-split">
  <section class="layout-split-right">
  <h1>{{ category.title }}</h1>

    <nav class="search-form">

      <form action="{{ url('video/results') }}">
        <input type="search" id="fname" name="q" class="search">
        <input type="submit" value="Search" class="search-form-icon">
      </form>

    </nav>

  </section>
</div>

<div class="layout-split">
{% include 'global/_results-sidebar.html' %}
  <section class="layout-split-right layout-centered">
  {% set Video = craft.entries.section('video').relatedTo(category) %}

  {% if Video|length %}
    
    <p>Videos</p>

    <ul class="posts-list">
      {% for entry in Video %}
    			<a href="{{ entry.url }}" class="posts-list-item">
            <li>
        			{% set assets = entry.blogFeaturedImage %}
        			{% for asset in assets %}
        				<img src="{{ asset.url }}" />
        			{% endfor %}
              <h3 class="posts-title">{{ entry.title }}</h3>
              <figcaption class="posts-description">{{ entry.blogShortDescription }}</figcaption>
              <dl class="post-date">
                <dt>Posted on</dt>
                <dd>{{ entry.postDate | date("M Y") }}</dd>
              </dl>
            </li>
          </a>
    	{% endfor %}
    </ul>

  {% endif %}
  {% set Blog = craft.entries.section('blog').relatedTo(category) %}

  {% if Blog|length %}
    <p>Blog Posts</p>
     <ul class="posts-list">
      {% for entry in Blog %}

          <a href="{{ entry.url }}" class="posts-list-item">
            <li>
              {% set assets = entry.blogFeaturedImage %}
              {% for asset in assets %}
                <img src="{{ asset.url }}" />
              {% endfor %}
              <h3 class="posts-title">{{ entry.title }}</h3>
              <figcaption class="posts-description">{{ entry.blogShortDescription }}</figcaption>
              <dl class="post-date">
                <dt>Posted on</dt>
                <dd>{{ entry.postDate | date("M Y") }}</dd>
              </dl>
            </li>
          </a>
      {% endfor %}
    </ul>
  {% endif %}
  </section>
</div>
{% endblock %}
