{#
 # Category template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
<div class="layout-split">
  <section class="layout-split-right">
  	<h1 class="heading-split">{{ category.title }}</h1>
    <nav class="search-form">
      <form action="{{ url('blog/results') }}">
        <input placeholder="Type a Keyword" type="search" id="fname" name="q" class="search-form-field">
        <input type="submit" value="Search" class="search-form-icon">
      </form>
    </nav>
  </section>
</div>

<div class="layout-split">
{% include 'global/_sidebar.html' %}
  <section class="layout-split-right layout-centered">
  {% set Video = craft.entries.section('video').relatedTo(category) %}

  {% if Video|length %}
      <ul class="posts-list">
        {% for entry in Video %}
      			{% include 'global/_posts-teaser.html' %}
      	{% endfor %}
    </ul>

  {% endif %}
  {% set Blog = craft.entries.section('blog').relatedTo(category) %}

  {% if Blog|length %}
     <ul class="posts-list">
      {% for entry in Blog %}
        {% include 'global/_posts-teaser.html' %}
      {% endfor %}
    </ul>
  {% endif %}
  </section>
</div>
{% endblock %}
