{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}
	<h1>{{ entry.title }}</h1>

	<h2>{{ entry.callToActionMessage }}</h2>
	<p>{{ entry.servicesDescription }}</p>
	<h2>{{ entry.servicesTitle }}</h2>

	{% for entry in entry.featuredPost %}
		<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
		<p>{{ entry.blogShortDescription }}</p>
		{% set assets = entry.blogFeaturedImage %}
		{% for asset in assets %}
			<img src="{{ asset.url }}" />
		{% endfor %}
		
		<!-- Go To Entry Button Logic -->
			{% if entry.section.handle == 'blog' %}
				<a href="{{ entry.url }}">{{ miscGlobals.blogButton }}</a>
			{% endif %}

			{% if entry.section.handle == 'video' %}
				<a href="{{ entry.url }}">{{ miscGlobals.videoButton }}</a>
			{% endif %}
		<!-- Go To Entry Button Logic -->	

	{% endfor %}
	{% if entry.section.handle == 'blog' %}
		
	{% endif %}


{% endblock %}
