{#
 # Homepage template
 # ---------------
 #}
{% extends "_layout" %}
{% block content %}
  <section class="layout-full carousel-container">
    <ul class="owl-carousel owl-theme" aria-label="Featured News Items">
        {% for entry in entry.featuredPost %}
          <li class="carousel-slide">
              {% if loop.first %}
                  {% set assets = entry.blogFeaturedImage %}
                  {% for asset in assets %}
                    <img class="carousel-slide-image carousel-slide-image-fallback" src="{{ asset.url('smallFeatureImage') }}" alt="{{ asset.title }}" />
                  {% endfor %}
              {% endif %}
              {% set assets = entry.blogFeaturedImage %}
              {% for asset in assets %}
              <picture>
                <!-- Add Fallback for IE9 -->
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="{{ asset.url('largeFeatureImage') }}" media="(min-width: 1200px)">
                  <source srcset="{{ asset.url('mediumFeatureImage') }}" media="(min-width: 700px)">
                <!--[if IE 9]></video><![endif]-->
                  <img class="carousel-slide-image" srcset="{{ asset.url('smallFeatureImage') }}" alt="{{ asset.title }}" />
              </picture>
              {% endfor %}
              <figcaption class="carousel-slide-title">
                <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
                {% if entry.postTinyDescription | length %}
                  <h2><a href="{{ entry.url }}">{{ entry.postTinyDescription }}</a></h2>
                {% endif %}
                  {% if entry.section.handle == 'blog' %}
                    <a href="{{ entry.url }}" class="carousel-slide-button">{{ miscGlobals.blogButton }}</a>
                  {% endif %}
                  {% if entry.section.handle == 'video' %}
                    <a href="{{ entry.url }}" class="carousel-slide-button">{{ miscGlobals.videoButton }}</a>
                  {% endif %}
              </figcaption>
          </li>
        {% endfor %}
    </ul>
  </section>

  <section class="layout-full">
      <h3 class="callout">{{ entry.callToActionMessage }}</h3>
  </section>
  <section class="layout-inner layout-centered">
    <h1>{{ entry.servicesTitle }}</h1>
    <p>{{ entry.servicesDescription }}</p>
  </section>
  <section class="layout-inner layout-centered">
    <ul class="infographic-list">
    	{% for block in entry.servicesMatrix %}
    		{% if block.type == "infographic" %}
          <li class="infographic-list-item">
    			{% set image = block.icon.first() %}
    				{% if image %}
    					<img class="infographic-list-item-icon" alt="" src="{{ image.getUrl('') }}">
    				{% endif %}
            <figcaption class="infographic-list-item-name">{{ block.infoTitle }}</figcaption>
          </li>
    		{% endif %}
    	{% endfor %}
    </ul>
  </section>
  <section class="layout-inner layout-centered">
  	<div class="callout-secondary"><h3>{{ entry.infographicDescription }}</h3></div>
    <div class="button-grid">
  	{% set plansButton = entry.viewPlansButton %}
  	{% for entry in entry.plansEntry %}
  		<a class="button button--white" href="{{ entry.url }}">{{ plansButton }}</a>
  	{% endfor %}

  	{% set signUp = miscGlobals.signUpButton %}
  	{% for entry in miscGlobals.signUpEntry %}
  		<a class="button button--red" href="{{ entry.url }}">{{ signUp }}</a>
  	{% endfor %}
    </div>
  </section>

{% endblock %}
