{#
 # Plan entry template

 #}

{% extends "_layout" %}

{% block content %}
{{ entry.title }}
	{% for block in entry.planMatrix %}
		{% if block.type == "plan" %}
			<h2>{{ block.planTitle }}</h2>
			<p>{{ block.shortFeatures }}</p>
			<p>{{ block.monthlyPrice }}</p>
			<p>{{ block.yearlyPrice }}</p>
			{% if block.feature | length %}
				<ul>
					{% for row in block.feature %}
						<li>{{ row.featureText }}</li>
					{% endfor %}
				</ul>
			{% endif %}	
			{% set icon = block.planIcon.first() %}
			{% if icon %}
				<img src="{{ icon.getUrl('') }}">
			{% endif %}		
		{% endif %}
	{% endfor %}
{% endblock %}
