h1 {
   font-size: 35px;
   line-height: 42px;
   font-weight: 700;
   font-style: normal;
   font-family: "Merriweather";
   margin-bottom: -.3em;
   color: rgba(233,72,52,1);
}

h2 {
   font-size: 25px;
   line-height: 30px;
   font-family: "Merriweather", serif;
   font-weight: 300;
   font-style: normal;
   color: rgba(107,200,200,1);
}

h3 {
   font-size: 18px;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-style: normal;
   margin-bottom: -.5em;
   color: rgba(240,194,66,1);
}

body {
   font-size: 18px;
   color: #2D2D2D;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 300;
   font-style: normal;
   padding: 2em;
}

a {
   font-size: 18px;
   line-height: 25px;
   font-family: "Lato", sans-serif;
   font-weight: 300;
   font-style: normal;
   color: rgba(107,200,200,1);
}

a:hover {
  color: #009B93;
}

#services {
  float: left;
  width: 40%;
  padding-right: 2em;
}

#blog {
  float: left;
  width: 40%;
  padding-right: 2em;
}

.clear {
  clear: both;
}

.first {
  width: 80%;
}

.yellow {
  background-color: rgba(240,194,66,1);
  width: 70px;
  height: 70px;
  float: left;
  margin-right: .5em;
  margin-top: .5em;
}

.red {
  background-color: rgba(233,72,52,1);
  width: 70px;
  height: 70px;
  float: left;
  margin-right: .5em;
  margin-top: .5em;
}

.blue {
  background-color: rgba(107,200,200,1);
  width: 70px;
  height: 70px;
  float: left;
  margin-right: .5em;
  margin-top: .5em;
}

.green {
  background-color: rgba(130,201,154,1);
  width: 70px;
  height: 70px;
  float: left;
  margin-right: .5em;
  margin-top: .5em;
}

.redbutton {
  background-color: rgba(233,72,52,1);
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border: #C52026 solid 6px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 2.9em;
  vertical-align: text-bottom;
  float: left;
  margin: 1em 1em 1em 0em;
}

.bluebutton {
  background-color: rgba(107,200,200,1);
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border: #3AB6B2 solid 6px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 2.9em;
  vertical-align: text-bottom;
  float: left;
  margin: 1em 1em 1em 0em;

}

.yellowbutton {
  background-color: white;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(240,194,66,1);
  border: rgba(240,194,66,1) solid 6px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 2.9em;
  vertical-align: text-bottom;
  float: left;
  margin: 1em 1em 1em 0em;
}

.button {
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .blue {
    clear: left;
  }

}

@media screen and (max-width: 792px) {
  #services {
    width: 80%;
  }
  #blog {
    width: 80%;
  }

  .bluebutton {
    clear: left;
    margin-bottom: 0em;
  }
  .yellowbutton {
    clear: left;
  }
  .redbutton {
    margin-bottom: 0em;
  }
}

{
  box-sizing: border-box;
}
